
.page-home .panels-flexible-2 .panels-flexible-region-2-fl {
    width: 50.5% !important;
}
.page-contact #main #content .section, .page-node-6881 #main #content .section {
    margin-left: 0;
}
.form-item-field-spacialist-in-tid .form-autocomplete {
    background-image: url("../images/special1.png") !important;
    background-position: 98% 4px !important;
}
.form-item-field-name-value .form-autocomplete {
    background-image: url("../images/name.png") !important;
    background-position: 98% 4px !important;
}
.form-item-field-location-value .form-autocomplete {
    background-image: url("../images/loc.png") !important;
    background-position: 98% 4px !important;
}
.header2, .header1, .header3 {
    display: none;
}
.view-speciality .view-content .views-field-name a:hover {
    background-color: gray !important;
    color: #fff !important;
}
div.widgets-element-horizontal {
    float: left;
    margin-right: 10px;
}
.pane-widgets-s-addthis-share {
    clear: both;
}
.pane-widgets-s-addthis-share .pane-content {
    margin-top: 10px;
}
.pane-widgets-s-addthis-share .pane-title {
    background: linear-gradient(to bottom, #00a8ab 0%, #00abad 6%, #02b9bd 19%, #02c5c9 28%, #00cbcf 39%, #00cace 47%, #08c9d0 56%, #0ac6c8 64%, #10c3c7 69%, #13bfc1 78%, #1eb7bc 94%, #1fb7ba 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    clear: both;
    color: #ffffff;
    display: block;
    font-size: 1.2em !important;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
    position: relative;
    width: 86%;
}
.add-header, .add-header1, .add-header2 {
    background-color: rgb(0, 168, 171);
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 15px;
    padding-left: 2px;
    padding-top: 15px;
    text-align: center;
}
.add-content3, .add-content2, .add-content1 {
    background-color: #000;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 15px;
    padding-left: 2px;
    padding-top: 15px;
    text-align: center;
}
.add-header span, .add-header2 span {
    color: gold;
    font-weight: bold;
}
.add-header1 span {
    color: peachpuff;
}
.add-header1, .add-header2 {
    margin-top: 12px;
}
.add-content3 a, .add-content2 a, .add-content1 a {
    color: #fff !important;
}
.add-content3 a:hover, .add-content2 a:hover, .add-content1 a:hover {
    text-decoration: none;
}
.pane-block-13 .pane-title {
    font-size: 1.2em !important;
}
.panels-flexible-row-2-5 .pane-content .view-content {
    height: 330px;
    overflow: hidden;
    position: relative;
}
.pane-views h2 {
    font-size: 1.2em !important;
}
#page-wrapper, #footer-wrapper {
    min-width: 98% !important;
}
#footer {
    min-width: 100% !important;
    width: 100% !important;
}
#breadcrumb {
    width: 80%;
}
body {
    border: 0 none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 87.5%;
    line-height: 1.5;
    margin: 0;
    outline: 0 none;
    padding: 0;
    word-wrap: break-word;
}
.view-webform-views-recommend-doctor .view-content {
    max-height: 100% !important;
}
a:link, a:visited {
    text-decoration: none;
}
a:hover, a:active, a:focus {
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    margin: 1em 0 0.5em;
}
h1 {
    color: #000;
    font-size: 1.357em;
}
h2 {
    font-size: 1.143em;
}
p {
}
del {
    text-decoration: line-through;
}
tr.odd {
    background-color: #dddddd;
}
img {
    outline: 0 none;
}
code, pre, kbd, samp, var {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.77em;
    padding: 0 0.4em;
}
code {
    background-color: rgba(40, 40, 0, 0.06);
}
pre code, pre kbd, pre samp, pre var, kbd kbd, kbd samp, code var {
    background-color: transparent;
    font-size: 100%;
}
pre code, pre samp, pre var {
    padding: 0;
}
.description code {
    font-size: 1em;
}
kbd {
    background-color: #f2f2f2;
    border: 1px outset #575757;
    border-radius: 5px;
    color: #666;
    display: inline-block;
    margin: 0 3px;
    padding: 0 6px;
}
pre {
    background-color: rgba(40, 40, 0, 0.06);
    margin: 10px 0;
    overflow: hidden;
    padding: 15px;
    white-space: pre-wrap;
}
body, #site-slogan, .ui-widget, .comment-form label {
    font-family: Arial,Helvetica,sans-serif;
}
#header, #footer-wrapper, #skip-link, ul.contextual-links, ul.links, ul.primary, .item-list .pager, div.field-type-taxonomy-term-reference, div.messages, div.meta, p.comment-time, table, .breadcrumb {
    font-family: Arial,Helvetica,sans-serif;
}
input, textarea, select, a.button {
    font-family: Arial,Helvetica,sans-serif;
}
caption {
    font-weight: normal;
    text-align: left;
}
blockquote {
    background: none repeat scroll 0 0 #f7f7f7;
    border-left: 1px solid #bbb;
    font-style: italic;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}
blockquote:before {
    color: #bbb;
    content: "“";
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.2em;
    vertical-align: -0.4em;
}
blockquote:after {
    color: #bbb;
    content: "”";
    font-size: 3em;
    line-height: 0.1em;
    vertical-align: -0.45em;
}
blockquote > p:first-child {
    display: inline;
}
a.feed-icon {
    display: inline-block;
    padding: 15px 0 0;
}
table {
    border: 0 none;
    border-spacing: 0;
    font-size: 0.857em;
    margin: 10px 0;
    width: 100%;
}
table table {
    font-size: 1em;
}
#footer-wrapper table {
    font-size: 1em;
}
table tr th {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.51);
    border-bottom-style: none;
}
table tr th, table tr th a, table tr th a:hover {
    color: #fff;
    font-weight: bold;
}
table tbody tr th {
    vertical-align: top;
}
tr td, tr th {
    border: 1px solid #fff;
    padding: 4px 9px;
    text-align: left;
}
#footer-wrapper tr td, #footer-wrapper tr th {
    border-color: rgba(255, 255, 255, 0.18);
}
tr.odd {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.106);
}
tr, tr.even {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.063);
}
table ul.links {
    font-size: 1em;
    margin: 0;
    padding: 0;
}
table ul.links li {
    padding: 0 1em 0 0;
}
.block ol, .block ul {
    margin: 0;
    padding: 0 0 0.25em 1em;
}
.contextual-links-wrapper {
    font-size: small !important;
}
ul.contextual-links {
    font-size: 0.923em;
}
.contextual-links-wrapper a {
    text-shadow: 0 0 0 !important;
}
.item-list .pager {
    font-size: 0.929em;
}
ul.menu li {
    margin: 0;
}
.region-content ul, .region-content ol {
    margin: 1em 0;
    padding: 0 0 0.25em 2.5em;
}
.item-list ul li {
    margin: 0;
    padding: 0.2em 0.5em 0 0;
}
ul.tips {
    padding: 0 0 0 1.25em;
}
#skip-link {
    left: 50%;
    margin-left: -5.25em;
    margin-top: 0;
    position: absolute;
    width: auto;
    z-index: 50;
}
#skip-link a, #skip-link a:link, #skip-link a:visited {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    border-radius: 0 0 10px 10px;
    color: #fff;
    display: block;
    font-size: 0.94em;
    line-height: 1.7;
    padding: 1px 10px 2px;
    text-decoration: none;
}
#skip-link a:hover, #skip-link a:active, #skip-link a:focus {
    outline: 0 none;
}
#logo {
    float: left;
    padding: 15px 15px 15px 10px;
}
#name-and-slogan {
    float: left;
    margin: 0 0 30px 15px;
    padding-top: 34px;
}
#site-name {
    color: #686868;
    font-size: 1.821em;
    line-height: 1;
}
h1#site-name {
    margin: 0;
}
#site-name a {
    font-weight: normal;
}
#site-slogan {
    font-size: 0.929em;
    font-style: italic;
    margin-top: 7px;
    word-spacing: 0.1em;
}
.region-header .block {
    float: left;
    font-size: 0.857em;
    margin: 0 10px;
    padding: 0;
}
.region-header .block .content {
    margin: 0;
    padding: 0;
}
.region-header .block ul {
    margin: 0;
    padding: 0;
}
.region-header .block li {
    float: left;
    list-style: none outside none;
    padding: 0;
}
.region-header .form-text {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    margin-right: 2px;
    margin-top: 20px;
    width: 120px;
}
.region-header .form-text:hover, .region-header .form-text:focus, .region-header .form-text:active {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
}
.region-header .form-required {
    color: rgba(255, 255, 255, 0.7);
}
.region-header .block-menu {
}
.region-header .block-menu li a {
    display: block;
    font-weight: bold;
    padding: 9px 20px;
}
.region-header .block-menu li a:hover, .region-header .block-menu li a:focus, .region-header .block-menu li a:active {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.15);
    text-decoration: none;
}
.region-header .block-menu li.last a {
    border-bottom: 0 none;
}
.region-header #block-user-login {
    width: auto;
}
.region-header #block-user-login .content {
    margin-top: 2px;
}
.region-header #block-user-login .form-item {
    float: left;
    margin: 0;
    padding: 0;
}
.region-header #block-user-login div.item-list, .region-header #block-user-login div.description {
    font-size: 0.916em;
    margin: 0;
}
.region-header #block-user-login div.item-list {
    clear: both;
}
.region-header #block-user-login div.description {
    display: inline;
}
.region-header #block-user-login .item-list ul {
    line-height: 1;
    padding: 0;
}
.region-header #block-user-login .item-list li {
    float: left;
    list-style: none outside none;
    padding: 3px 0 1px;
}
.region-header #block-user-login .item-list li.last {
    padding-left: 0.5em;
}
.region-header #block-user-login ul.openid-links li.last {
    padding-left: 0;
}
.region-header #user-login-form li.openid-link a, .region-header #user-login li.openid-link a {
    padding-left: 20px;
}
.region-header #block-user-login .form-actions {
    clear: both;
    margin: 4px 0 0;
    padding: 0;
}
.region-header #block-user-login input.form-submit {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: 4px 0;
    padding: 3px 8px;
}
.region-header #block-user-login input.form-submit:hover, .region-header #block-user-login input.form-submit:focus {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
}
.region-header #block-search-form {
    width: 208px;
}
.region-header #block-search-form .form-text {
    width: 154px;
}
.region-header .block-locale ul li {
    display: inline;
    padding: 0 0.5em;
}
#main-menu {
    clear: both;
}
#main-menu-links {
    font-size: 0.929em;
    margin: 0;
    padding: 0 15px;
}
#main-menu-links li {
    float: left;
    list-style: none outside none;
    margin: 0 1px;
    padding: 0 1px;
}
#main-menu-links a {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #333;
    float: left;
    height: 2.4em;
    line-height: 2.4em;
    padding: 0 0.8em;
    text-decoration: none;
    text-shadow: 0 1px #eee;
}
#main-menu-links a:hover, #main-menu-links a:focus {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.95);
}
#main-menu-links a:active {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 1);
}
#main-menu-links li a.active {
    border-bottom: medium none;
}
.featured #main-menu-links li a:active, .featured #main-menu-links li a.active {
    background: none repeat scroll 0 0 rgba(240, 240, 240, 1);
}
#secondary-menu-links {
    float: right;
    font-size: 0.929em;
    margin: 10px 10px 0;
}
#secondary-menu-links a:hover, #secondary-menu-links a:focus {
    text-decoration: underline;
}
#main {
    margin-bottom: 40px;
    margin-top: 20px;
}
#featured h2 {
    font-size: 1.174em;
    line-height: 1;
}
#featured p {
    margin: 0;
    padding: 0;
}
#highlighted {
    border-bottom: 1px solid #d3d7d9;
    font-size: 120%;
}
.region-help {
    border: 1px solid #d3d7d9;
    margin-bottom: 30px;
    padding: 0 1.5em;
}
.content {
    margin-top: 10px;
}
h1#page-title {
    font-size: 2em;
    line-height: 1;
}
#content h2 {
    font-size: 1.429em;
    line-height: 1.4;
    margin-bottom: 2px;
}
.node .content {
    font-size: 1.071em;
}
.node-teaser .content {
    font-size: 1em;
}
.node-teaser h2 {
    margin-top: 0;
    padding-top: 0.5em;
}
.node-teaser h2 a {
    color: #181818;
}
.node-teaser {
    border-bottom: 1px solid #d3d7d9;
    margin-bottom: 30px;
    padding-bottom: 15px;
}
.node-sticky {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.024);
    border: 1px solid #d3d7d9;
    padding: 0 15px 15px;
}
.node-full {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    padding: 0;
}
.node-teaser .content {
    clear: none;
    line-height: 1.6;
}
.meta {
    color: #68696b;
    font-size: 0.857em;
    margin-bottom: -5px;
}
.submitted .user-picture img {
    float: left;
    height: 20px;
    margin: 1px 5px 0 0;
}
.field-type-taxonomy-term-reference {
    margin: 0 0 1.2em;
}
.node-teaser .field-type-taxonomy-term-reference .field-label, .node-teaser .field-type-taxonomy-term-reference ul.links {
    font-size: 0.821em;
}
.field-type-taxonomy-term-reference ul.links {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.field-type-taxonomy-term-reference ul.links li {
    float: left;
    padding: 0 1em 0 0;
    white-space: nowrap;
}
.link-wrapper {
    text-align: right;
}
.field-type-image img, .user-picture img {
    margin: 0 0 1em;
}
ul.links {
    color: #68696b;
}
.node-unpublished {
    margin: -20px -15px 0;
    padding: 20px 15px 0;
}
.node-unpublished .comment-text .comment-arrow {
    border-left: 1px solid #fff4f4;
    border-right: 1px solid #fff4f4;
}
.comment h2.title {
    margin-bottom: 1em;
}
.comment div.user-picture img {
    margin-left: 0;
}
.comment {
    display: table;
    margin-bottom: 20px;
    vertical-align: top;
}
.comment .attribution {
    display: table-cell;
    overflow: hidden;
    padding: 0 30px 0 0;
    vertical-align: top;
}
.comment .attribution img {
    border: 1px solid #d3d7d9;
    margin: 0;
}
.comment .attribution .username {
    white-space: nowrap;
}
.comment .submitted p {
    font-size: 1.071em;
    line-height: 1.2;
    margin: 4px 0;
}
.comment .submitted .comment-time {
    color: #68696b;
    font-size: 0.786em;
}
.comment .submitted .comment-permalink {
    font-size: 0.786em;
    text-transform: lowercase;
}
.comment .content {
    font-size: 0.929em;
    line-height: 1.6;
}
.comment .comment-arrow {
    background: url("../images/comment-arrow.gif") no-repeat scroll 0 center transparent;
    border-left: 1px solid;
    border-right: 1px solid;
    height: 40px;
    margin-left: -47px;
    margin-top: 10px;
    position: absolute;
    width: 20px;
}
.comment .comment-text {
    border: 1px solid #d3d7d9;
    display: table-cell;
    padding: 10px 25px;
    position: relative;
    vertical-align: top;
    width: 100%;
}
.comment .indented {
    margin-left: 40px;
}
.comment ul.links {
    padding: 0 0 0.25em;
}
.comment ul.links li {
    padding: 0 0.5em 0 0;
}
.comment-unpublished {
    margin-right: 5px;
    padding: 5px 2px 5px 5px;
}
.comment-unpublished .comment-text .comment-arrow {
    border-left: 1px solid #fff4f4;
    border-right: 1px solid #fff4f4;
}
.sidebar .section {
    padding-top: 14px;
}
.sidebar .block {
    border: 1px solid;
    margin: 0 0 20px;
    padding: 1px 6px 0;
}
.sidebar .block .content {
    font-size: 0.914em;
    line-height: 1.4;
}
.sidebar tbody {
    border: medium none;
}
.sidebar tr.even, .sidebar tr.odd {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #d6d6d6;
}
#triptych-wrapper {
    background: none repeat scroll 0 0 rgba(30, 50, 10, 0.08);
    border-top: 1px solid #e7e7e7;
}
#triptych h2 {
    color: #000;
    font-size: 1.714em;
    line-height: 1;
    margin-bottom: 0.8em;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
}
#triptych .block {
    border-bottom: 1px solid #dfdfdf;
    line-height: 1.3;
    margin-bottom: 2em;
    padding-bottom: 2em;
}
#triptych .block.last {
    border-bottom: medium none;
}
#triptych .block ul li, #triptych .block ol li {
    list-style: none outside none;
}
#triptych .block ul, #triptych .block ol {
    padding-left: 0;
}
#triptych #block-user-login .form-text {
    width: 185px;
}
#triptych #block-user-online p {
    margin-bottom: 0;
}
#triptych #block-node-syndicate h2 {
    height: 0;
    overflow: hidden;
    width: 0;
}
#triptych-last #block-node-syndicate {
    text-align: right;
}
#triptych #block-search-form .form-type-textfield input {
    width: 185px;
}
#triptych-middle #block-system-powered-by {
    text-align: center;
}
#triptych-last #block-system-powered-by {
    text-align: right;
}
#footer-wrapper {
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.857em;
}
#footer-wrapper a {
    color: rgba(255, 255, 255, 0.8);
}
#footer-wrapper a:hover, #footer-wrapper a:focus {
    color: rgba(255, 255, 255, 0.95);
    text-decoration: underline;
}
#footer-wrapper .block {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 20px 0;
    padding: 10px;
}
#footer-columns .block-menu, #footer .block {
    border: medium none;
    margin: 0;
    padding: 0;
}
#footer .block {
    margin: 0.5em 0;
}
#footer .block .content {
    color: #ffffff;
    margin-top: 0;
    padding: 10px 45px;
}
#footer .block .content a {
    color: #ffffff;
}
#footer .block h2 {
    margin: 0;
}
#footer-columns h2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    border-color: rgba(255, 255, 255, 0.15);
    font-size: 1em;
    margin-bottom: 0;
    padding-bottom: 3px;
    text-transform: uppercase;
}
#footer-columns .content {
    margin-top: 0;
}
#footer-columns p {
    margin-top: 1em;
}
#footer-columns .content ul {
    list-style: none outside none;
    margin-left: 0;
    padding-left: 0;
}
#footer-columns .content li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#footer-columns .content li a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    border-color: rgba(255, 255, 255, 0.15);
    display: block;
    line-height: 1.2;
    padding: 0.8em 2px 0.8em 20px;
    text-indent: -15px;
}
#footer-columns .content li a:hover, #footer-columns .content li a:focus {
    background-color: rgba(255, 255, 255, 0.05);
    text-decoration: none;
}
#footer {
    border-color: rgba(255, 255, 255, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    letter-spacing: 0.1px;
    margin-top: 30px;
}
#footer .region {
    float: left;
    margin-top: 20px;
}
#footer .block {
    clear: both;
}
#footer ul, #footer li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#footer li a {
    border-color: rgba(255, 255, 255, 0.15);
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    display: block;
    float: left;
    padding: 0 12px;
}
#footer li.first a {
    padding-left: 0;
}
#footer li.last a {
    border-right: medium none;
    padding-right: 0;
}
#footer-wrapper tr.odd {
    background-color: transparent;
}
#footer-wrapper tr.even {
    background-color: rgba(0, 0, 0, 0.15);
}
.tabs {
    font-family: Arial,Helvetica,sans-serif;
}
.tabs ul.primary {
    background: url("../images/tabs-border.png") repeat-x scroll left bottom transparent;
    border: medium none;
    margin: 0;
    overflow: hidden;
    padding: 0 3px;
}
.tabs ul.primary li {
    display: block;
    float: left;
    margin: 0 5px 0 0;
    vertical-align: bottom;
}
.tabs ul.primary li.active a {
    border-bottom: 1px solid #ffffff;
}
.tabs ul.primary li a {
    background-color: #ededed;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #000;
    display: block;
    float: left;
    font-size: 0.929em;
    height: 1.8em;
    line-height: 1.9;
    margin: 0;
    padding: 0 10px 3px;
    text-shadow: 0 1px 0 #fff;
}
.tabs ul.primary li.active a {
    background-color: #ffffff;
}
.tabs ul.secondary {
    border-bottom: medium none;
    padding: 0.5em 0;
}
.tabs ul.secondary li {
    display: block;
    float: left;
}
.tabs ul.secondary li:last-child {
    border-right: medium none;
}
.tabs ul.secondary li:first-child {
    padding-left: 0;
}
.tabs ul.secondary li a {
    padding: 0.25em 0.5em;
}
.tabs ul.secondary li a.active {
    background: none repeat scroll 0 0 #f2f2f2;
    border-bottom: medium none;
    border-radius: 5px;
}
ul.action-links {
    list-style: none outside none;
    margin: 5px;
    padding: 0.5em 1em;
}
ul.action-links li {
    display: inline-block;
    margin-left: 10px;
}
ul.action-links li a {
    background: url("../images/add.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    margin: 0 10px 0 0;
    padding-left: 15px;
}
#messages {
    margin: 0 auto;
    padding: 20px 0 5px;
}
.featured #messages {
    background: none repeat scroll 0 0 rgba(30, 50, 10, 0.08);
}
div.messages {
    margin: 8px 15px;
}
.breadcrumb {
    font-size: 0.929em;
}
.profile .user-picture {
    float: none;
}
.confirm-parent, .password-parent {
    width: 34em;
}
.password-parent, div.form-item div.password-suggestions {
    position: relative;
}
.password-strength-text, .password-strength-title, div.password-confirm {
    font-size: 0.82em;
}
.password-strength-text {
    margin-top: 0.2em;
}
div.password-confirm {
    margin-top: 2.2em;
    width: 20.73em;
}
input.form-submit, a.button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e4e4e4 #d2d2d2 #b4b4b4;
    border-image: none;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    color: #3a3a3a;
    cursor: pointer;
    font-size: 0.929em;
    font-weight: normal;
    margin-bottom: 1em;
    margin-right: 0.6em;
    padding: 4px 17px;
    text-align: center;
}
a.button:link, a.button:visited, a.button:hover, a.button:focus, a.button:active {
    color: #5a5a5a;
    text-decoration: none;
}
.fieldset-wrapper {
    margin-top: 25px;
}
.node-form .vertical-tabs .fieldset-wrapper {
    margin-top: 0;
}
.filter-wrapper {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 1em 0 0.2em;
    top: 0;
}
.filter-help a {
    font-size: 0.857em;
    padding: 2px 20px 0;
}
.filter-wrapper .form-item label {
    margin-right: 10px;
}
.filter-wrapper .form-item {
    padding: 0 0 0.5em 0.5em;
}
.filter-guidelines {
    padding: 0 1.5em 0 0.5em;
}
fieldset.collapsed {
    background: none repeat scroll 0 0 transparent;
    border-radius: 0;
}
fieldset legend {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #dbdbdb;
    border-color: #ccc #ccc -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-width: 1px 1px medium;
    color: #3b3b3b;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    height: 2em;
    left: -1px;
    line-height: 2;
    padding: 0;
    position: absolute;
    text-indent: 10px;
    text-shadow: 0 1px 0 #fff;
    top: -12px;
    width: 100%;
}
fieldset.collapsed legend {
    border-radius: 4px;
}
fieldset legend a {
    color: #3b3b3b;
}
fieldset legend a:hover, fieldset legend a:focus, fieldset legend a:active {
    color: #000;
}
fieldset .fieldset-wrapper {
    padding: 0 10px;
}
fieldset .fieldset-description {
    color: #3c3c3c;
    font-style: italic;
    line-height: 1.4;
    margin-bottom: 1em;
    margin-top: 5px;
}
input {
    padding: 4px;
}
input, textarea {
    font-size: 0.929em;
}
textarea {
    line-height: 1.5;
}
textarea.form-textarea, select.form-select {
    padding: 4px;
}
input.form-text, textarea.form-textarea, select.form-select {
    border: 1px solid #ccc;
}
input.form-submit:hover, input.form-submit:focus {
    background: none repeat scroll 0 0 #dedede;
}
.password-suggestions ul li {
    margin-left: 1.2em;
}
.form-item {
    margin-bottom: 1em;
    margin-top: 2px;
}
.form-item label {
    font-size: 0.929em;
}
.form-type-radio label, .form-type-checkbox label {
    margin-left: 4px;
}
.form-type-radio .description, .form-type-checkbox .description {
    margin-left: 2px;
}
.form-actions {
    padding-top: 10px;
}
.contact-form #edit-name {
    border-radius: 4px;
    width: 75%;
}
.contact-form #edit-mail {
    border-radius: 4px;
    width: 75%;
}
.contact-form #edit-subject {
    border-radius: 4px;
    width: 75%;
}
.contact-form #edit-message {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 76.3%;
}
.contact-form .resizable-textarea .grippie {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 76%;
}
input.form-button-disabled, input.form-button-disabled:hover, input.form-button-disabled:focus, input.form-button-disabled:active, .form-disabled input, .form-disabled select, .form-disabled textarea {
    background: none repeat scroll 0 0 #ededed;
    border-color: #bbb;
    color: #717171;
}
.form-disabled .grippie {
    background-color: #ededed;
    border-color: #bbb;
}
.form-disabled label {
    color: #717171;
}
html.js input.form-autocomplete {
    background-position: 100% 14px;
}
html.js input.throbbing {
    background-position: 100% -16px;
}
.comment-form label {
    float: left;
    font-size: 0.929em;
    width: 120px;
}
.comment-form input, .comment-form .form-select {
    border-radius: 4px;
    margin: 0;
}
.comment-form .form-type-textarea label {
    float: none;
}
.comment-form .form-item, .comment-form .form-radios, .comment-form .form-type-checkbox, .comment-form .form-select {
    margin-bottom: 10px;
    overflow: hidden;
}
.comment-form .form-type-checkbox, .comment-form .form-radios {
    margin-left: 120px;
}
.comment-form .form-type-checkbox label, .comment-form .form-radios label {
    float: none;
    margin-top: 0;
}
.comment-form input.form-file {
    width: auto;
}
.no-sidebars .comment-form .form-text {
    width: 800px;
}
.one-sidebar .comment-form .form-text {
    width: 500px;
}
.two-sidebars .comment-form .form-text {
    width: 320px;
}
.comment-form .form-item .description {
    font-size: 0.786em;
    line-height: 1.2;
    margin-left: 120px;
}
#content h2.comment-form {
    margin-bottom: 0.5em;
}
.comment-form .form-textarea {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.comment-form fieldset.filter-wrapper .fieldset-wrapper, .comment-form .text-format-wrapper .form-item {
    margin-bottom: 0;
    margin-top: 0;
}
.filter-wrapper label {
    float: none;
    width: auto;
}
.filter-wrapper .form-select {
    min-width: 120px;
}
.comment-form fieldset.filter-wrapper .tips {
    font-size: 0.786em;
}
#comment-body-add-more-wrapper .form-type-textarea label {
    margin-bottom: 0.4em;
}
#edit-actions input {
    margin-right: 0.6em;
}
div.password-suggestions {
    border: 0 none;
}
.ui-widget-overlay {
    background: none repeat scroll 0 0 #222222;
    opacity: 0.7;
}
div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {
    padding: 1em;
}
#forum .name {
    font-size: 1.083em;
}
#forum .description {
    font-size: 1em;
}
#block-search-form {
    padding-bottom: 7px;
}
#block-search-form .content {
    margin-top: 0;
}
#search-form input#edit-keys, #block-search-form .form-item-search-block-form input {
    float: left;
    font-size: 1em;
    height: 1.143em;
    margin-right: 5px;
    width: 9em;
}
#search-block-form input.form-submit, #search-form input.form-submit {
    background: url("../images/search-button.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    border-color: #e4e4e4 #d2d2d2 #b4b4b4;
    cursor: pointer;
    height: 25px;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    padding: 0;
    text-indent: -9999px;
    width: 34px;
}
#search-block-form input.form-submit:hover, #search-block-form input.form-submit:focus, #search-form input.form-submit:hover, #search-form input.form-submit:focus {
    background-position: center bottom;
}
#search-form .form-item-keys label {
    display: block;
}
ol.search-results {
    padding-left: 0;
}
.search-results li {
    border-bottom: 1px solid #d3d7d9;
    margin-bottom: 0.5em;
    padding-bottom: 0.4285em;
}
.search-results li:last-child {
    border-bottom: medium none;
    margin-bottom: 1em;
    padding-bottom: 0;
}
.search-results .search-snippet-info {
    padding-left: 0;
}
.shortcut-wrapper {
    margin: 2.2em 0 1.1em;
}
.shortcut-wrapper h1#page-title {
    float: left;
    margin: 0;
}
div.add-or-remove-shortcuts {
    padding-top: 0.9em;
}
.overlay div.add-or-remove-shortcuts {
    padding-top: 0.8em;
}
.page-admin #content img {
    margin-right: 15px;
}
.page-admin #content .simpletest-image img {
    margin: 0;
}
.page-admin-structure-block-demo .block-region {
    background: none repeat scroll 0 0 #ffff66;
    border: 1px dotted #9f9e00;
    color: #000;
    font: 90% "Lucida Grande","Lucida Sans Unicode",sans-serif;
    margin: 5px;
    padding: 5px;
    text-align: center;
    text-shadow: none;
}
.page-admin-structure-block-demo #featured .block-region {
    font-size: 0.55em;
}
.page-admin-structure-block-demo #header .block-region {
    width: 500px;
}
.page-admin #admin-dblog img {
    margin: 0 5px;
}
#system-theme-settings fieldset {
    padding: 0;
}
#system-theme-settings fieldset .fieldset-legend {
    margin-top: 0;
}
div.admin .right, div.admin .left {
    margin: 0;
    width: 49%;
}
div.admin-panel {
    background: none repeat scroll 0 0 #fbfbfb;
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 0 5px 5px;
}
div.admin-panel h3 {
    margin: 16px 7px;
}
div.admin-panel dt {
    border-top: 1px solid #ccc;
    padding: 7px 0 0;
}
div.admin-panel dd {
    margin: 0 0 10px;
}
div.admin-panel .description {
    margin: 0 0 14px 7px;
}
.overlay #main, .overlay #content {
    float: none;
    width: auto;
}
.overlay #page {
    padding: 0 2em;
}
.overlay .region-page-top, .overlay #header, .overlay #page-title, .overlay #featured, .overlay #sidebar-first, .overlay #triptych-wrapper, .overlay #footer-wrapper {
    display: none;
}
.overlay-processed .field-type-image {
    display: block;
    float: none;
}
.overlay #messages {
    width: auto;
}
.node .poll {
    margin: 2em 0;
}
.node .poll #edit-choice {
    margin: 0 0 1.5em;
}
.poll .vote-form {
    text-align: left;
}
.poll .vote-form .choices {
    margin: 0;
}
.poll .percent {
    float: right;
    font-size: 0.857em;
    font-style: italic;
    margin-bottom: 3em;
    margin-top: -3.2em;
    text-align: right;
}
.poll .text {
    clear: right;
    margin-right: 2.25em;
}
.poll .total {
    clear: both;
    font-size: 0.929em;
    font-style: italic;
    text-align: right;
}
.node .poll {
    margin: 1.8em 0 0;
}
.node .poll .text {
    margin-right: 6.75em;
}
.node .poll #edit-choice {
    margin: 0 0 1.2em;
}
.poll .bar .foreground {
    background-color: #666;
}
#footer-wrapper .poll .bar {
    background-color: #666;
}
#footer-wrapper .poll .bar .foreground {
    background-color: #ddd;
}
.node-gallery {
    float: left;
    height: 150px;
    margin: 0 60px 50px 0;
    position: relative;
    width: 150px;
}
.node-gallery img {
    bottom: 0;
    position: absolute;
}
.node-gallery .image1 {
    left: 0;
    transition: all 0.2s ease 0s;
    z-index: 3;
}
.node-gallery .image2 {
    height: 148px;
    left: 7px;
    transition: all 0.2s ease 0s;
    z-index: 2;
}
.node-gallery .image3 {
    height: 145px;
    left: 14px;
    transition: all 0.2s ease 0s;
    z-index: 1;
}
.image1, .image2, .image3 {
    border: 5px solid #f3f3f3;
    box-shadow: 1px 1px 2px #666;
}
.node-gallery:hover .image1 {
    transform: rotate(-5deg) translate(-40px, -2px);
    transform-origin: center bottom 0;
    z-index: 6;
}
.node-gallery:hover .image2 {
    transform: rotate(-2deg) translate(0px, 2px);
    transform-origin: center bottom 0;
    z-index: 5;
}
.node-gallery:hover .image3 {
    transform: rotate(5deg) translate(40px, -2px);
    transform-origin: center bottom 0;
    z-index: 4;
}
#highlighted {
    border-bottom: medium none;
    margin-right: -20px;
}
#views_slideshow_cycle_teaser_section_photo_gallery-block_1 {
    height: 217px;
    margin: -30px 0 0 -237px;
    position: relative;
    width: 935px;
}
#block-block-1 {
    float: left;
    margin: -9px 0 -1px -229px;
}
#edit-submit-search {
    float: left;
    margin: 10px 0 29px -227px;
}
#edit-field-spacialist-in-tid-wrapper {
    background-size: 100% auto;
    float: left;
    width: 27%;
}
#edit-field-name-value-wrapper {
    background-size: 100% auto;
    float: left;
    height: 95px;
    width: 27%;
}
#edit-field-location-value-wrapper {
    background-size: 100% auto;
    float: left;
    height: 95px;
    width: 26%;
}
#block-simpleads-ad-groups-29 {
    padding: 0;
}
#block-system-main {
}
#block-system-main h2 {
}
#node-74 {
    float: left;
    margin: 22px 0 30px 21px;
}
#node-74 .field-label-hidden {
    margin: 6px 0 -5px;
    text-align: justify;
    width: 187px;
}
#node-74 .inline {
    display: none;
}
#node-73 {
    float: right;
    margin-top: 18px;
}
#node-73 .field-label-hidden {
    text-align: justify;
    width: 187px;
}
#node-73 .inline {
    display: none;
}
#block-views-hospitals-in-ahmedabad-block {
    font-size: 18px;
    margin-left: -13px;
    margin-top: -15px;
    text-align: center;
}
#views_slideshow_cycle_teaser_section_hospitals_in_ahmedabad-block {
    margin: 30px -12px -12px;
}
#main-menu-links {
    font-size: 14px;
}
#breadcrumb {
    margin: -13px;
    text-indent: -9999px;
}
#content .feed-icon {
    text-indent: -9999px;
}
.views-exposed-widgets input {
}
.views-exposed-widgets #edit-field-spacialist-in-tid {
    margin-top: 32%;
    width: 100%;
}
.views-exposed-widget #edit-field-name-value {
    margin-top: 32%;
    width: 100%;
}
.views-exposed-widget #edit-field-location-value {
    margin-top: 32%;
    width: 100%;
}
.view-id-research .link-wrapper ul {
    display: none;
}
h1#page-title {
    margin-top: 30px;
}
ul.inline {
    display: none;
}
#site-name span {
    color: #0a0808;
}
.link-wrapper ul li a {
    display: none;
}
.field-name-field-site2:hover {
    color: red;
}
.views-field-field-link2 {
    font-size: 1.1em;
}
.views-field-field-link2:hover {
    color: red;
}
.view-speciality .views-row h2 a:hover {
    color: red;
}
.view-research {
    padding-top: 10px;
}
#footer {
    border: medium none;
    margin: 0;
    padding: 0;
    text-align: left;
}
#main-wrapper {
    background: none repeat scroll 0 0 #f7fafb !important;
    color: #61767c;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 18px;
    min-width: 100%;
}
#page {
    background: none repeat scroll 0 0 #ffffff !important;
}
#block-block-2 {
    margin-top: -50px !important;
}
#header {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat !important;
    background-size: 100% auto !important;
    width: 100% !important;
}
#header {
    height: 52px;
}
#header #logo {
    float: left !important;
    padding: 11px 0 0 !important;
    width: 25%;
}
#header #logo img {
}
#header .section {
    box-sizing: border-box;
    padding: 0 20px;
    width: 100% !important;
}
#header .region-header {
    margin: 0;
    width: 74%;
}
#block-menu-menu-site-menu {
    float: left;
    margin-top: 0;
}
#block-menu-menu-site-menu .content ul li {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 500;
}
#block-menu-menu-site-menu .content ul a.active, #block-menu-menu-site-menu .content ul a:hover {
    background: linear-gradient(to bottom, #00a8ab 0%, #00abad 6%, #02b9bd 19%, #02c5c9 28%, #00cbcf 39%, #00cace 47%, #08c9d0 56%, #0ac6c8 64%, #10c3c7 69%, #13bfc1 78%, #1eb7bc 94%, #1fb7ba 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #ffffff;
    font-weight: bold;
}
#block-views-speciality-block-1 {
    width: 95%;
}
#block-views-speciality-block-1 h2 {
    background-image: url("../images/category.png");
    background-repeat: no-repeat;
    background-size: auto auto;
    font-size: 0;
    height: 37px;
    margin-left: -3%;
    padding-right: 2px;
    width: 95%;
}
#block-views-speciality-block-2 h2 {
    background-image: url("../images/hospitals.jpg");
    background-repeat: no-repeat;
    background-size: auto auto;
    font-size: 0;
    height: 37px;
    margin-left: -3%;
    width: 107%;
}
#sidebar-second .section .region-sidebar-second #block-views-speciality-block {
    width: 110%;
}
#block-views-speciality-block h2 {
    background-image: url("../images/medical_labs.png");
    background-repeat: no-repeat;
    background-size: auto auto;
    font-size: 0;
    height: 37px;
    margin-left: -3%;
    width: 105%;
}
#block-block-3 img {
    margin-top: -6px;
}
.region-header #block-block-3 {
    float: right;
}
.region-header #block-block-3 li {
    padding: 0 4px 0 0;
}
#featured div.section {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
#featured {
    background-image: url("../images/main.jpeg") !important;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-top: -10px;
    z-index: -1;
}
#featured .views-exposed-form {
    padding-top: 0;
    position: relative;
    width: 100%;
    z-index: 1;
}
.front #main #content .section {
    margin-left: 0;
    margin-right: 0;
}
#main #content .section {
    margin-left: 40px;
    margin-right: 0;
}
#block-system-main .content .view-taxonomy-term .view-content .views-row {
    padding-top: 15px;
}
#block-system-main .content .view-taxonomy-term .view-content .views-field-title span a.hover {
    color: #0066ff;
}
.views-exposed-form #edit-field-spacialist-in-tid-wrapper label {
    color: white;
    font-size: 25px;
    line-height: 0;
}
.views-exposed-form #edit-field-name-value-wrapper label {
    color: white;
    font-size: 25px;
    line-height: 0;
}
.views-exposed-form #edit-field-location-value-wrapper label {
    color: white;
    font-size: 25px;
    line-height: 0;
}
#featured #block-views-exp-research-page {
    margin-left: auto;
    margin-right: auto;
    padding-top: 11%;
    width: 70%;
}
#block-views-exp-research-page .content .views-exposed-form .views-exposed-widgets {
    height: auto;
}
#main {
    box-sizing: border-box;
    padding: 0 20px;
    width: 100% !important;
}
#sidebar-first {
    width: 23.5% !important;
}
#sidebar-second {
    width: 23.5% !important;
}
.two-sidebars #content {
    width: 53% !important;
}
#block-views-speciality-block-1 .content .view-content span a {
    color: #3b3b3b;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    line-height: 2;
}
#block-views-speciality-block-2 .content .view-content span a {
    color: #3b3b3b;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    line-height: 2;
}
#block-views-speciality-block .content .view-content span a {
    color: #3b3b3b;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    line-height: 2;
}
.views-exposed-form .views-submit-button {
    float: right;
    margin-right: 0 !important;
}
.views-exposed-form .views-exposed-widget input.form-submit {
    background-color: transparent;
    background-image: url("../images/button.png") !important;
    border: medium none;
    border-radius: 0;
    float: right;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    text-indent: -9999px;
    width: 101px;
}
.views-exposed-form .views-exposed-widget input.form-submit:hover {
    background-color: transparent;
    background-image: url("../images/button.png") !important;
    border: medium none;
    border-radius: 0;
    width: 101px;
}
.region.region-sidebar-first {
}
.region.region-sidebar-second {
    margin-top: -15px;
}
#node-73 {
    display: none !important;
}
#node-74 {
    display: none !important;
}
#block-views-adv-image-block {
    width: 100%;
}
#block-views-adv-image-block .content {
    margin-top: 0 !important;
}
#block-views-adv-image-block .view-content .views-field-field-ad-image .field-content {
    width: 100%;
}
#block-views-adv-image-block .view-content .views-field-field-ad-image .field-content img {
    width: 100%;
}
#block-views-adv-image-block .content .view-content td .views-field-field-ad-image {
    margin: -5px;
}
#block-views-adv-image-block .content .view-adv-image .view-content .views-row.views-row-2.views-row-even {
    float: left;
    padding-right: 2%;
    width: 49%;
}
#block-views-adv-image-block .content .view-adv-image .view-content .views-row.views-row-3.views-row-odd.views-row-last {
    float: left;
    margin-bottom: 2%;
    width: 49%;
}
#block-block-4 .content p {
    font-size: 16px;
    margin-top: 30px;
    width: 100%;
}
#block-block-5 {
    margin-top: 265px;
    width: 100%;
}
#block-block-5 .content {
    padding-left: 13px !important;
    width: 100% !important;
    z-index: 0 !important;
}
#block-block-5 .content p img {
    width: 100% !important;
}
#block-block-5 .content p {
    width: 100% !important;
}
#block-block-6 p {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}
#node-6881 p {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}
#footer {
    width: 100%;
}
#footer .region-footer #block-block-2 .content #footermsg {
    font-size: 10px;
}
.one-sidebar #content {
    width: 76% !important;
}
#main #content .section h1 {
    color: #49c0f2;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    padding: 4px 0 0;
    text-transform: uppercase;
}
#block-system-main .view-taxonomy-term .view-content .views-row {
    border-bottom: 1px solid #dcdfdf;
    overflow: hidden;
    padding: 10px 0 9px;
    width: 100%;
}
#block-system-main .content .view-taxonomy-term .view-content .views-field-title span a {
    color: #1291d3;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 0 0;
    text-decoration: none;
    width: 80%;
}
#block-system-main .content .view-taxonomy-term .view-content .views-field-field-logo-photo img {
    float: left;
    margin-right: 15px;
    padding-left: 1px;
    width: auto;
}
#block-system-main .content .view-taxonomy-term .view-content .views-field.views-field-field-rate {
    display: inline-block;
    float: right;
    margin-top: -18px;
}
#block-system-main .content .view-taxonomy-term .view-content .views-field-field-address {
    font-weight: bolder;
    padding-top: 7px;
}
#block-system-main .content .view-taxonomy-term .view-content .views-field-field-contact {
    padding-top: 10px;
}
#block-system-main .content .view-taxonomy-term .view-content .views-label-field-contact {
    background: url("../images/contact.gif") no-repeat scroll 1px 2px rgba(0, 0, 0, 0);
    color: #f08b28;
    display: inline-block;
    float: left;
    font-weight: bolder;
    padding: 0 18px 0 24px;
}
#block-system-main .content .view-taxonomy-term .view-content .views-field-field-spacialist-in {
    padding-top: 7px;
}
#block-system-main .content .view-taxonomy-term .view-content .views-label-field-spacialist-in {
    background: url("../images/specialist.gif") no-repeat scroll 1px 2px rgba(0, 0, 0, 0);
    color: #76aa3e;
    display: inline-block;
    float: left;
    font-weight: bolder;
    line-height: 16px;
    padding: 0 18px 0 24px;
}
#block-system-main .content .view-taxonomy-term .view-content .views-label-field-spacialist-in .field-content a {
    border: 1px solid red;
}
#block-system-main .content .empty {
    display: none !important;
}
#block-system-main .content .average-rating {
    display: none !important;
}
.node-doctors-information .field-name-field-rate {
    margin-top: 10px;
}
.view-research .view-content .views-field.views-field-title {
    color: #000000;
    font-size: 16px;
    line-height: 18px;
    margin-top: 10px;
}
.view-research .view-content .views-field-field-location .field-content {
    display: inline-block;
}
.view-research .view-content .views-field-field-location {
    margin-top: 4px;
}
.view-research .view-content .views-row {
    border-bottom: 1px solid #dcdfdf;
    overflow: hidden;
    padding: 10px 0 9px;
    width: 100%;
}
.view-research .view-content .views-field-nid {
    color: #000066;
    float: right;
    font-size: 15px;
}
.page-contact legend {
    display: none;
}
#contact-site-form {
    clear: both;
    float: left;
    width: 50%;
}
.page-contact .contact-form .form-type-textfield input {
    width: 90% !important;
}
.page-contact .contact-form .form-textarea-wrapper #edit-message {
    width: 92% !important;
}
.page-contact .contact-form .form-textarea-wrapper .grippie {
    width: 91% !important;
}
.page-contact .contact-form .captcha.form-wrapper {
    width: 90%;
}
.page-contact .contact-form .captcha .fieldset-description {
    display: none !important;
}
.page-contact #block-block-9 {
    display: block;
    float: right;
    font-size: 14px;
    width: 50%;
}
.page-contact .mail {
    background-image: url("../images/mail.jpg");
    background-position: 0 3px;
    background-repeat: no-repeat;
    display: inline-block;
    padding-left: 25px;
}
.page-contact .india {
    background-image: url("../images/india.png");
    background-repeat: no-repeat;
    margin-top: 25px;
    padding-left: 25px;
    text-decoration: underline;
}
.page-contact .address {
    background-image: url("../images/home.jpg");
    background-repeat: no-repeat;
    margin-top: 25px;
    padding-left: 25px;
}
.page-contact .contactno {
    background-image: url("../images/phone.jpg");
    background-repeat: no-repeat;
    margin-top: 25px;
    padding-left: 25px;
}
.page-contact .get-direction {
    background-image: url("../images/d1.jpeg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 20px auto;
    float: left;
    margin-top: 20px;
    padding: 2px 35px 5px 24px;
}
#node-6883 {
    display: none !important;
}
.views-exposed-widget #edit-field-location-value {
    border-radius: 5px;
    height: 31px;
    margin-top: 0 !important;
    width: 90%;
}
.views-exposed-widgets #edit-field-spacialist-in-tid {
    border-radius: 5px;
    height: 31px;
    margin-top: 0 !important;
    width: 90%;
}
.views-exposed-widget #edit-field-name-value {
    border-radius: 5px;
    height: 31px;
    margin-top: 0 !important;
    width: 90%;
}
.views-exposed-form .form-item, .views-exposed-form .form-submit {
    margin-top: 26px !important;
}
#autocomplete {
    max-height: 150px;
    overflow-y: scroll;
}
#block-views-speciality-block-1 h2 {
    background-image: url("/themes/bartik/images/speciality1.jpg") !important;
    background-repeat: no-repeat;
    background-size: auto auto;
}
#block-views-speciality-block-1 .view-speciality .view-header a {
    background: linear-gradient(to bottom, #00a8ab 0%, #00abad 6%, #02b9bd 19%, #02c5c9 28%, #00cbcf 39%, #00cace 47%, #08c9d0 56%, #0ac6c8 64%, #10c3c7 69%, #13bfc1 78%, #1eb7bc 94%, #1fb7ba 100%) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff !important;
    display: block;
    font-size: 18px;
    font-weight: bold;
    height: 22px;
    margin-left: -3%;
    padding: 10px;
    text-decoration: none;
}
#block-views-speciality-block-1 .view-speciality .header2 {
    background: linear-gradient(to bottom, #00a8ab 0%, #00abad 6%, #02b9bd 19%, #02c5c9 28%, #00cbcf 39%, #00cace 47%, #08c9d0 56%, #0ac6c8 64%, #10c3c7 69%, #13bfc1 78%, #1eb7bc 94%, #1fb7ba 100%) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff !important;
    font-size: 20px;
    font-weight: bold;
    height: 22px;
    padding: 10px;
    text-decoration: none;
}
#block-views-speciality-block-2 h2 {
    background-image: url("/themes/bartik/images/hospitals.jpg");
    background-repeat: no-repeat;
    background-size: auto auto;
}
#block-views-speciality-block-2 .view-speciality .view-header a {
    background: linear-gradient(to bottom, #00a8ab 0%, #00abad 6%, #02b9bd 19%, #02c5c9 28%, #00cbcf 39%, #00cace 47%, #08c9d0 56%, #0ac6c8 64%, #10c3c7 69%, #13bfc1 78%, #1eb7bc 94%, #1fb7ba 100%) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff !important;
    display: block;
    font-size: 20px;
    font-weight: bold;
    height: 22px;
    padding: 10px;
    text-decoration: none;
}
#block-views-speciality-block h2 {
    background-image: url("/themes/bartik/images/patho.png") !important;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 37px;
    margin-left: -3%;
    width: 104%;
}
#block-views-speciality-block .view-speciality .view-header a {
    background: linear-gradient(to bottom, #00a8ab 0%, #00abad 6%, #02b9bd 19%, #02c5c9 28%, #00cbcf 39%, #00cace 47%, #08c9d0 56%, #0ac6c8 64%, #10c3c7 69%, #13bfc1 78%, #1eb7bc 94%, #1fb7ba 100%) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff !important;
    display: block;
    font-size: 20px;
    font-weight: bold;
    height: 22px;
    padding: 10px;
    text-decoration: none;
}
.field-name-field-location {
    font-size: 14px;
    margin-top: 10px;
}
.field-name-field-ad-text {
    font-size: 14px;
    margin-top: 10px;
}
.field-name-field-contact {
    font-size: 14px;
    margin-top: 10px;
}
.field-name-field-address {
    font-size: 14px;
    margin-top: 10px;
}
.field-name-field-rate {
    font-size: 14px;
    margin-top: 10px;
}
.field-name-field-e-mail {
    font-size: 14px;
    margin-top: 10px;
}
.field-name-field-site {
    font-size: 14px;
    margin-top: 10px;
}
#block-views-speciality-block-1 .view-speciality .view-header a {
    background-size: 304px 42px;
    margin-left: 0;
}
.views-exposed-form .views-submit-button {
}
#block-views-exp-research-page .views-exposed-widgets {
    background-image: url("../images/alpha.png");
    border: 2px solid #f1f4f6;
    border-radius: 9px;
    margin-bottom: 4%;
    padding: 25px 13px 5px 35px;
}
#block-block-10 {
    color: white;
    font-size: 80px;
    padding-top: 10%;
    text-align: center;
    text-transform: uppercase;
}
#block-block-10 h2 {
    display: none;
}
.boldtext {
    float: left;
    font-size: 49pt;
    font-weight: bold;
    margin-right: 15px;
    text-align: right;
    width: 35%;
}
.lighttext {
    float: left;
    font-size: 49pt;
    text-align: left;
    width: auto;
}
#headertext {
    margin: 0 auto;
    text-align: center;
    width: 68%;
}
.page-home .view-speciality .view-header a {
    background: linear-gradient(to bottom, #00a8ab 0%, #00abad 6%, #02b9bd 19%, #02c5c9 28%, #00cbcf 39%, #00cace 47%, #08c9d0 56%, #0ac6c8 64%, #10c3c7 69%, #13bfc1 78%, #1eb7bc 94%, #1fb7ba 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #ffffff;
    float: left;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    width: 85%;
}
.header1, .header2, .header3 {
    background: linear-gradient(to bottom, #00a8ab 0%, #00abad 6%, #02b9bd 19%, #02c5c9 28%, #00cbcf 39%, #00cace 47%, #08c9d0 56%, #0ac6c8 64%, #10c3c7 69%, #13bfc1 78%, #1eb7bc 94%, #1fb7ba 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #ffffff;
    display: none;
    float: left;
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    width: 85%;
}
.page-home .view-speciality .view-content {
    clear: both;
    float: left;
    max-height: 430px;
    overflow: hidden;
    position: relative;
    width: 90%;
}
.view-speciality .view-content {
    clear: both;
    float: left;
    max-height: 430px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#block-views-speciality-block-1 .view-speciality .view-content {
    clear: both;
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.scrollbar {
    border: 1px solid gray;
    height: 150px;
    overflow: hidden;
    position: relative;
    width: 400px;
}
.view-display-id-block_1 .view-content {
    max-height: 900px;
}
.page-home .view-display-id-block_1 .view-content {
    max-height: 900px;
}
.page-home .view-speciality .view-content .views-field-name a {
    background: url("../images/heart.png") no-repeat scroll 10px 15px #eee;
    border-bottom: 1px solid #00a8ab;
    clear: both;
    color: #3b3b3b;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    padding: 10px 0 10px 38px;
    width: 95%;
}
.view-speciality .view-content .views-field-name a {
    background: url("../images/heart.png") no-repeat scroll 10px 15px #eee;
    border-bottom: 1px solid #00a8ab;
    clear: both;
    color: #3b3b3b;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    padding: 6px 0 10px 38px;
    width: 95%;
}
.view-speciality .view-content .views-field-name a {
    text-decoration: none;
}
.page-home #main-wrapper #page-title {
    display: none;
}
.page-home .view-adv-image .views-row-1 img {
    width: 96%;
}
.page-home .view-adv-image .views-row-2 img {
    float: left;
    margin-right: 1%;
    width: 48%;
}
.page-home .view-adv-image .views-row-3 img {
    width: 47%;
}
.third_region h2.pane-title {
    background: linear-gradient(to bottom, #00a8ab 0%, #00abad 6%, #02b9bd 19%, #02c5c9 28%, #00cbcf 39%, #00cace 47%, #08c9d0 56%, #0ac6c8 64%, #10c3c7 69%, #13bfc1 78%, #1eb7bc 94%, #1fb7ba 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #ffffff;
    float: left;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    width: 93%;
}
.third_region .views-field-title a {
    color: #000000;
    font-size: 18px;
}
.third_region .views-field-field-location {
    color: #00a8ab;
    font-size: 11px;
}
.third_region .view-content {
    float: left;
    padding: 0 3px;
    width: 100%;
}
.third_region .views-row {
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}
.ps-container .ps-scrollbar-x-rail {
    border-radius: 4px;
    bottom: 3px;
    height: 8px;
    opacity: 0;
    position: absolute;
    transition: background-color 0.2s linear 0s, opacity 0.2s linear 0s;
}
.ps-container:hover .ps-scrollbar-x-rail, .ps-container.hover .ps-scrollbar-x-rail {
    opacity: 0.6;
}
.ps-container .ps-scrollbar-x-rail:hover, .ps-container .ps-scrollbar-x-rail.hover {
    background-color: #eee;
    opacity: 0.9;
}
.ps-container .ps-scrollbar-x-rail.in-scrolling {
    background-color: #eee;
    opacity: 0.9;
}
.ps-container .ps-scrollbar-y-rail {
    border-radius: 4px;
    opacity: 0;
    position: absolute;
    right: 3px;
    transition: background-color 0.2s linear 0s, opacity 0.2s linear 0s;
    width: 8px;
}
.ps-container:hover .ps-scrollbar-y-rail, .ps-container.hover .ps-scrollbar-y-rail {
    opacity: 0.6;
}
.ps-container .ps-scrollbar-y-rail:hover, .ps-container .ps-scrollbar-y-rail.hover {
    background-color: #eee;
    opacity: 0.9;
}
.ps-container .ps-scrollbar-y-rail.in-scrolling {
    background-color: #eee;
    opacity: 0.9;
}
.ps-container .ps-scrollbar-x {
    background-color: #aaa;
    border-radius: 4px;
    bottom: 0;
    height: 0;
    position: absolute;
    transition: background-color 0.2s linear 0s;
}
.ps-container.ie6 .ps-scrollbar-x {
    font-size: 0;
}
.ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x, .ps-container .ps-scrollbar-x-rail.hover .ps-scrollbar-x {
    background-color: #999;
}
.ps-container .ps-scrollbar-y {
    background-color: #aaa;
    border-radius: 4px;
    position: absolute;
    right: 0;
    transition: background-color 0.2s linear 0s;
    width: 8px;
}
.ps-container.ie6 .ps-scrollbar-y {
    font-size: 0;
}
.ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y, .ps-container .ps-scrollbar-y-rail.hover .ps-scrollbar-y {
    background-color: #999;
}
.ps-container.ie .ps-scrollbar-x, .ps-container.ie .ps-scrollbar-y {
    visibility: hidden;
}
.ps-container.ie:hover .ps-scrollbar-x, .ps-container.ie:hover .ps-scrollbar-y, .ps-container.ie.hover .ps-scrollbar-x, .ps-container.ie.hover .ps-scrollbar-y {
    visibility: visible;
}
.panels-flexible-column-inside-first {
    padding-left: 7%;
}
.panels-flexible-region-2-third_first {
    float: left;
    width: 33.322%;
}
.panels-flexible-region-2-third_row_ {
    float: left;
    width: 30.9894%;
}
.panels-flexible-region-2-third_third {
    float: left;
    width: 31%;/*31.9984%;*/
}
.header2 {
    display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {

div.widgets-element-horizontal {
    float: left;
    margin-right: 5px;
}
#headertext {
    margin: 0 auto;
    text-align: center;
    width: 60%;
}
.boldtext {
    font-size: 35pt;
}
.lighttext {
    font-size: 35pt;
}
#edit-field-location-value-wrapper, #edit-field-name-value-wrapper, #edit-field-spacialist-in-tid-wrapper {
    margin-right: 0;
    width: 24%;
}
#featured #block-views-exp-research-page {
    padding-top: 8%;
}
#main {
    padding: 0 !important;
}
.view-speciality .view-content {
}
#block-system-main .content .view-taxonomy-term .view-content .views-field-field-spacialist-in {
    margin-left: 0;
}
.panels-flexible-region-2-right_side_region {
    width: 107%;
}
#block-menu-menu-site-menu {
    margin-left: 47px;
}
#block-system-main .content .view-taxonomy-term .view-content .views-field-field-logo-photo img {
    margin-right: 0;
}
.panels-flexible-region-2-third_first {
    margin-right: 3px;
    width: 30%;
}
.panels-flexible-region-2-third_row_ {
    margin-right: 3px;
    width: 30%;
}
.panels-flexible-region-2-third_row_ {
    width: 35%;
}
.page-home .view-speciality .view-content {
    width: 91%;
}
.panels-flexible-column-inside-first {
    padding-left: 2.5%;
}
.region-header .block {
    margin: 0 2px;
}
.views-field-field-logo-photo {
    float: left;
    width: 20%;
}
#block-system-main .content .view-taxonomy-term .view-content .views-row {
    padding-left: 15px;
}
.one-sidebar #content {
    width: 63% !important;
}
#sidebar-first {
    width: 34.5% !important;
}
#main #content .section {
    margin-left: 0;
}
.add-header, .add-header1, .add-header2 {
    font-size: 12px !important;
}
}
@media only screen and (min-width: 769px) {
#block-views-speciality-block-1 {
    width: 94%;
}
.mobile-view {
    display: block;
}
.desktop-hide {
    display: none;
}
#responsive-menu-icon {
    display: block;
}
#menu-top-left {
    display: none;
}
}
@media only screen and (max-width: 768px) {

.page-home .view-adv-image .views-row-3 img {
    width: 46%;
}
.third_region h2.pane-title {
    width: 97.2% !important;
}

.page-home .panels-flexible-2 .panels-flexible-region-2-fl{width:100% !important;}
#main #content .section h1 {
    padding: 20px 2px 0;
}
#contact-site-form {
    clear: both;
    float: left;
    width: 100%;
}
.page-contact #block-block-9 {
    display: block;
    float: right;
    font-size: 14px;
    width: 100%;
}
h1#page-title {
    margin: 0;
}
.sidebar .block {
    margin: 0 0 20px;
    padding: 0;
}
#block-block-3 img {
    margin-top: 0;
}
.header2, .header1, .header3 {
    display: block;
    width: 96% !important;
}
.view-speciality .view-content .views-field-name a {
    width: 93.5%;
}
#block-menu-menu-site-menu {
    margin: 0;
    width: 100% !important;
}
#block-menu-menu-site-menu .content ul a {
    background-color: #fff;
}
.responsive-menu {
    display: none;
}
#responsive-menu-icon {
    display: block;
}
#block-menu-menu-site-menu .content ul li {
    width: 100%;
}
#responsive-menu-icon:before {
    background: url("../images/menu.png") no-repeat scroll 0 0 / 100% auto black;
    content: "";
    margin-right: 10px;
    padding: 0 18px 24px !important;
	float:right;
}
#block-menu-menu-site-menu {
    float: right;
    position: absolute;
    right: 0;
    text-align: right;
    width: 100%;
    z-index: 9999;
}
.region-header #block-block-3 {
    float: left;
    margin-top: -12px;
    text-align: right;
    width: 90%;
}
.region-header #block-block-3 img {
    height: 42px;
}
#block-menu-menu-site-menu ul li.first {
    margin-top: 24px;
}
.mobile-hide {
    display: none;
}
.desktop-hide {
    display: block;
}
.panels-flexible-column-2-1 {
    width: 100% !important;
}
.header2 {
    margin-top: 15px;
}
.views-exposed-form .views-exposed-widget {
    float: left;
    padding: 0.5em 1em 0 0;
    width: 60%;
}
.sidebar .block {
}
#block-views-speciality-block-2 .view-speciality .view-header a {
    display: none;
}
}







@media only screen and (min-width: 600px) and (max-width: 768px) {
#block-views-speciality-block-1 {
    width: 100%;
}
.boldtext {
    font-size: 25pt;
}
.lighttext {
    font-size: 25pt;
}
#featured {
    background-image: url("../images/main.jpeg") !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -10px;
    z-index: -1;
}
#edit-field-spacialist-in-tid-wrapper {
    background-size: 100% auto;
    float: left;
    height: 78px;
    width: 100%;
}
#edit-field-name-value-wrapper {
    background-size: 100% auto;
    float: left;
    height: 78px;
    width: 100%;
}
#edit-field-location-value-wrapper {
    background-size: 100% auto;
    float: left;
    height: 44px;
    width: 100%;
}
#sidebar-first {
    margin-left: -5%;
    width: 32.5% !important;
}
.one-sidebar #content {
    width: 97% !important;
}
#main #content .section {
    margin-left: 0;
}
.views-exposed-form #edit-field-name-value-wrapper label, .views-exposed-form #edit-field-spacialist-in-tid-wrapper label, .views-exposed-form #edit-field-location-value-wrapper label {
    font-size: 18px;
}
#block-system-main .content .view-taxonomy-term .view-content .views-field-field-spacialist-in {
    margin-left: 0;
}
#block-system-main .content .view-taxonomy-term .view-content .views-field-field-logo-photo img {
    margin-right: 0;
}
.page-home .header1, .page-home .header2, .page-home .header3 {
    display: block;
}
.page-home .view-speciality .view-header a {
    display: none;
}
.pane-speciality .view-display-id-block .view-content, .pane-speciality .view-display-id-block_1 .view-content, .pane-speciality .view-display-id-block_2 .view-content {
    display: none;
}
.panels-flexible-region-2-fl, .panels-flexible-region-2-front_left_side {
    width: 100% !important;
}
.panels-flexible-column-2-main {
    width: 100%;
}
.page-home .view-adv-image .views-row-1 img {
    margin-top: 8px;
    width: 95%;
}
.panels-flexible-region-inside {
    padding: 0;
}
.page-home .header1, .page-home .header2, .page-home .header3 {
    width: 97.2% !important;
}
.panels-flexible-column-inside-first, .panels-flexible-column-inside-last {
    padding: 0;
}
.panels-flexible-region-2-right_side_region {
    width: 100% !important;
}
.panels-flexible-row-2-3 {
    float: left;
    margin-left: 18px;
    width: 100%;
}
.page-home .view-speciality .view-content {
    width: 100% !important;
}
.panels-flexible-region-2-third_first {
    width: 100% !important;
}
.panels-flexible-region-2-third_row_ {
    width: 100% !important;
}
.panels-flexible-region-2-third_third {
    width: 100% !important;
}
.third_region h2.pane-title {
    width: 97% !important;
}
.pane-widgets-s-addthis-share {
    clear: both;
    width: 100%;
}
.pane-widgets-s-addthis-share .pane-title {
    width: 97% !important;
}
#block-views-speciality-block-1 .view-speciality .view-header a {
    display: none;
}
.header2 {
    display: block;
}
#sidebar-first {
    margin: 0 !important;
    width: 100% !important;
}
#sidebar-first .view-content {
    display: none;
}
}
@media only screen and (min-width: 360px) and (max-width:640px){
.page-home .view-speciality .view-content {
    width: 100.5% !important;
}
.page-home .view-adv-image .views-row-3 img {
    width: 46%;
}
#block-views-speciality-block-1 .view-speciality .view-content {
    clear: both;
    float: left;
    overflow: hidden;
    position: relative;
    width: 99.5%;
}
}
@media only screen and (max-width: 360px)
{
#block-views-speciality-block-1 .view-speciality .view-content{width:103.5%;}
.page-home .view-speciality .view-content {
    width: 102% !important;
}
}
@media only screen and (min-width: 320px) and (max-width: 600px) {

.pane-widgets-s-addthis-share .pane-title {
    width: 96% !important;
}
.views-exposed-form .views-exposed-widget {
    float: left;
    padding: 0.5em 1em 0 0;
    width: 65%;
}
#block-views-speciality-block-1 {
    width: 100%;
}
#header .region-header {
    margin: 0;
    width: 83px;
}
#headertext {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.boldtext {
    font-size: 21pt;
    width: 42%;
}
.lighttext {
    font-size: 21pt;
}
#featured {
    background-image: url("../images/main.jpeg") !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -10px;
}
#edit-field-spacialist-in-tid-wrapper {
    background-size: 100% auto;
    float: left;
    height: 78px;
    width: 100%;
}
#edit-field-name-value-wrapper {
    background-size: 100% auto;
    float: left;
    height: 78px;
    width: 100%;
}
#edit-field-location-value-wrapper {
    background-size: 100% auto;
    float: left;
    height: 44px;
    width: 100%;
}
#sidebar-first {
    width: 100% !important;
}
.one-sidebar #content {
    width: 100% !important;
}
#main #content .section {
    margin-left: 0;
}
.views-exposed-form #edit-field-name-value-wrapper label, .views-exposed-form #edit-field-spacialist-in-tid-wrapper label, .views-exposed-form #edit-field-location-value-wrapper label {
    font-size: 18px;
}
#featured #block-views-exp-research-page {
    margin-left: auto;
    margin-right: auto;
    padding-top: 16%;
    width: 80%;
}
#block-system-main .content .view-taxonomy-term .view-content .views-field-field-spacialist-in {
    margin-left: 0;
}
#block-system-main .content .view-taxonomy-term .view-content .views-field-field-logo-photo img {
    margin-right: 0;
}
.page-home .header1, .page-home .header2, .page-home .header3 {
    display: block;
}
.page-home .view-speciality .view-header a {
    display: none;
}
.pane-speciality .view-display-id-block .view-content, .pane-speciality .view-display-id-block_1 .view-content, .pane-speciality .view-display-id-block_2 .view-content {
    display: none;
}
.panels-flexible-region-2-fl, .panels-flexible-region-2-front_left_side {
    width: 100% !important;
}
.panels-flexible-column-2-main {
    width: 100%;
}
.page-home .view-adv-image .views-row-1 img {
    margin-top: 10px;
    width: 95%;
}
.page-home .header1, .page-home .header2, .page-home .header3 {
    width: 95% !important;
}
.panels-flexible-column-inside-first, .panels-flexible-column-inside-last {
    padding: 0 !important;
}
.panels-flexible-region-2-right_side_region {
    width: 100% !important;
}
.page-home .view-speciality .view-content {
    width: 101% !important;
}
#block-views-speciality-block-1 .view-speciality .view-header a {
    display: none;
}
.header2 {
    display: block;
}
#sidebar-first .view-content {
    display: none;
}
.panels-flexible-column-inside-first, .panels-flexible-column-inside-last {
    padding: 0;
}
.panels-flexible-region-inside-last, .panels-flexible-region-inside {
    padding: 0 !important;
}
.panels-flexible-region-2-third_first {
    width: 100% !important;
}
.panels-flexible-region-2-third_row_ {
    width: 100% !important;
}
.panels-flexible-region-2-third_third {
    width: 100% !important;
}
.third_region h2.pane-title {
    width: 93% !important;
}
.panels-flexible-row-2-3 {
    float: left;
    margin-left: 18px;
    width: 100%;
}
}
@media only screen and (max-width: 480px) {
.views-exposed-form .views-exposed-widget{width:65%;}
#block-views-speciality-block-1 .view-speciality .view-content {
    clear: both;
    float: left;
    overflow: hidden;
    position: relative;
    width: 101.5%;
}
.page-home .panels-flexible-2 .panels-flexible-region-2-fl{width:97% !important;}
.page-contact .contact-form .form-type-textfield input {
    width: 89% !important;
}
.views-exposed-form .views-exposed-widget {
    float: left;
    padding: 0.5em 1em 0 0;
    width: 71%;
}
#block-views-speciality-block-1 {
    width: 95%;
}
#header .region-header {
    margin: 0;
    width: 83px;
}
.region-header #block-block-3 {
    float: left;
    text-align: left;
}
.boldtext {
    font-size: 12pt;
}
.lighttext {
    font-size: 12pt;
}
#featured {
    background-image: url("../images/main.jpeg") !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -10px;
}
#edit-field-spacialist-in-tid-wrapper {
    background-size: 100% auto;
    float: left;
    height: 78px;
    width: 100%;
}
#edit-field-name-value-wrapper {
    background-size: 100% auto;
    float: left;
    height: 78px;
    width: 100%;
}
#edit-field-location-value-wrapper {
    background-size: 100% auto;
    float: left;
    height: 44px;
    width: 100%;
}
#sidebar-first {
    width: 100% !important;
}
.one-sidebar #content {
    width: 100% !important;
}
#main #content .section {
    margin-left: 0;
}
.views-exposed-form #edit-field-name-value-wrapper label, .views-exposed-form #edit-field-spacialist-in-tid-wrapper label, .views-exposed-form #edit-field-location-value-wrapper label {
    font-size: 18px;
}
#featured #block-views-exp-research-page {
    margin-left: auto;
    margin-right: auto;
    padding-top: 16%;
    width: 80%;
}
#block-system-main .content .view-taxonomy-term .view-content .views-field-field-spacialist-in {
    margin-left: 0;
}
#block-system-main .content .view-taxonomy-term .view-content .views-field-field-logo-photo img {
    margin-right: 0;
}
.page-home .header1, .page-home .header2, .page-home .header3 {
    display: block;
}
.page-home .view-speciality .view-header a {
    display: none;
}
.pane-speciality .view-display-id-block .view-content, .pane-speciality .view-display-id-block_1 .view-content, .pane-speciality .view-display-id-block_2 .view-content {
    display: none;
}
.panels-flexible-region-2-fl, .panels-flexible-region-2-front_left_side {
    width: 97% !important;
}
.panels-flexible-column-2-main {
    width: 100%;
}
.page-home .view-adv-image .views-row-1 img {
    margin-top: 10px;
    width: 95%;
}
.page-home .header1, .page-home .header2, .page-home .header3 {
    width: 95% !important;
}
.panels-flexible-column-inside-first, .panels-flexible-column-inside-last {
    padding: 0 !important;
}
.panels-flexible-region-2-right_side_region {
    width: 100% !important;
}
.page-home .view-speciality .view-content {
    width: 100% !important;
}
#block-views-speciality-block-1 .view-speciality .view-header a {
    display: none;
}
.header2 {
    display: block;
}
#sidebar-first .view-content {
    display: none;
}
.panels-flexible-column-inside-first, .panels-flexible-column-inside-last {
    padding: 0;
}
.panels-flexible-region-inside-last, .panels-flexible-region-inside {
    padding: 0 !important;
}
.panels-flexible-region-2-third_first {
    width: 98% !important;
}
.panels-flexible-region-2-third_row_ {
    width: 98% !important;
}
.panels-flexible-region-2-third_third {
    width: 98% !important;
}
.third_region h2.pane-title {
    width: 93% !important;
}
.panels-flexible-row-2-3 {
    float: left;
    margin-left: 8px;
    width: 100%;
}
}

@media only screen and (max-width: 320px) {
.views-exposed-form .views-exposed-widget {
    float: left;
    padding: 0.5em 1em 0 0;
    width: 80%;
}
#header #logo img {
    width: 190px;
}
#block-views-speciality-block-1 .view-speciality .view-content {
    clear: both;
    float: left;
    overflow: hidden;
    position: relative;
    width: 104.5%;
}
.page-home .view-speciality .view-content{width:103% !important;}
#block-menu-menu-site-menu .content ul a.active, #block-menu-menu-site-menu .content ul a:hover, .header1, .header2, .header3, .page-home .view-speciality .view-header a, .third_region h2.pane-title, .pane-widgets-s-addthis-share .pane-title, #block-views-speciality-block-1 .view-speciality .header2 {background:#09C6CA !important;}
}
