/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */


#navbar{ background:none; border:none;}
.navbar.container.navbar-default{ margin:0 auto}
nav{ float:right}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{background:none;}
.navbar-nav > li{border-right:#CCC solid 1px;} 
.navbar-nav > li > a{ padding:28px 20px}
#node-1{ text-align: center}
#node-1 h2{ display:none}

.navbar-nav> li a:hover { background-color:#860604 !important; color:#fff !important;}
.border_right_left{ border-right:#CCC solid 1px; border-left:#ccc solid 1px;}
.border_right{}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{ background:#080808;}
.highlighted.jumbotron{background:#080808; border-radius:0; padding:10px; margin-top:0}
.mdf-slide-wrap{0} 
#block-md-fullscreen-slider-1 h2{ display:none}
#block-block-1 p{}
#node-8{ background:#fafafa}
#node-8 p{ text-align:center; padding:5px 0 50px 0; line-height:22px;}
#node-8 h2{ display:none}
.center_icon{text-align: center !important;}
.views-field-title{ text-align:center;  font-weight:bold;}
a{ color:#333}  #node-8 img{ margin-top:20px;}
.view-features img{
 border: 10px solid #EEEEEE;
    border-radius: 20px;
    transition: all 0.5s ease 0s;}
 h1{ margin:0 0 10px 0; padding:0; text-transform:uppercase; text-align:center; font-size:24px}
.page-header{ display:none;}
.container{ width:100% !important; margin:0 auto !important; padding:0 !important  }
.view.view-features{width:70% !important; margin:0 auto}
.view-features .views-row { float:left; width:300px}
.highlighted.jumbotron{ margin:0; padding:0}
.views-field{ margin-right:20px;}
#block-views-features-block h2{ text-align:center; margin:35px 0 ;}
.views-row {
    margin: 0 3% 0 0;
}
.footer.container{ background:#1a1a1a; padding:20px 0 0 0 !important; margin:30px 0 0 0 !important }
.footer.container h2{ color:white; font-size:22px; border-bottom:1px solid red; padding-bottom:10px;}
#block-system-powered-by{ clear:both; background:#333; padding:20px 0; text-align:center}
.footer, footer a { color:#B9B9B9 !important}
.col-sm-3{ padding-bottom:15px;}

.views-field-field-image-features img:hover{
    box-shadow: 0 0 20px #333333;
    opacity: 1;

