
/* ---------- Overall Specifications ---------- */

body {
  line-height: 1.5;
  font-size: 87.5%;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: Arial,Helvetica,sans-serif;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
}
h1 {
  font-size: 1.357em;
  color: #000;
}
h2 {
  font-size: 1.143em;
}
p {
  margin: 0 0 1.2em;
}
del {
  text-decoration: line-through;
}
tr.odd {
  background-color: #dddddd;
}
img {
  outline: 0;
}
code,
pre,
kbd,
samp,
var {
  padding: 0 0.4em;
  font-size: 0.77em;
  /*font-family: Menlo, Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono L", "DejaVu Sans Mono", monospace, "Courier New";*/
  font-family:Arial, Helvetica, sans-serif;
}
code {
  background-color: #f2f2f2;
  background-color: rgba(40, 40, 0, 0.06);
}
pre code,
pre kbd,
pre samp,
pre var,
kbd kbd,
kbd samp,
code var {
  font-size: 100%;
  background-color: transparent;
}
pre code,
pre samp,
pre var {
  padding: 0;
}
.description code {
  font-size: 1em;
}
kbd {
  background-color: #f2f2f2;
  border: 1px outset #575757;
  margin: 0 3px;
  color: #666;
  display: inline-block;
  padding: 0 6px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
pre {
  background-color: #f2f2f2;
  background-color: rgba(40, 40, 0, 0.06);
  margin: 10px 0;
  overflow: hidden;
  padding: 15px;
  white-space: pre-wrap;
}


/* ------------------ Fonts ------------------ */

body,
#site-slogan,
.ui-widget,
.comment-form label {
  /*font-family: Georgia, "Times New Roman", Times, serif;*/
  font-family:Arial, Helvetica, sans-serif;
}
#header,
#footer-wrapper,
#skip-link,
ul.contextual-links,
ul.links,
ul.primary,
.item-list .pager,
div.field-type-taxonomy-term-reference,
div.messages,
div.meta,
p.comment-time,
table,
.breadcrumb {
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family:Arial, Helvetica, sans-serif;
}
input,
textarea,
select,
a.button {
  /*font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;*/
  font-family:Arial, Helvetica, sans-serif;
}

/* ------------------ Reset Styles ------------------ */

caption {
  text-align: left; /* LTR */
  font-weight: normal;
}
blockquote {
  background: #f7f7f7;
  border-left: 1px solid #bbb;
  font-style: italic;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
blockquote:before {
  color: #bbb;
  content: "\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -.4em;
}
blockquote:after {
  color: #bbb;
  content: "\201D";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -.45em;
}
blockquote > p:first-child {
  display: inline;
}
a.feed-icon {
  display: inline-block;
  padding: 15px 0 0 0;
}

/* ------------------ Table Styles ------------------ */

table {
  border: 0;
  border-spacing: 0;
  font-size: 0.857em;
  margin: 10px 0;
  width: 100%;
}
table table {
  font-size: 1em;
}
#footer-wrapper table {
  font-size: 1em;
}
table tr th {
  background: #757575;
  background: rgba(0, 0, 0, 0.51);
  border-bottom-style: none;
}
table tr th,
table tr th a,
table tr th a:hover {
  color: #FFF;
  font-weight: bold;
}
table tbody tr th {
  vertical-align: top;
}
tr td,
tr th {
  padding: 4px 9px;
  border: 1px solid #fff;
  text-align: left; /* LTR */
}
#footer-wrapper tr td,
#footer-wrapper tr th {
  border-color: #555;
  border-color: rgba(255, 255, 255, 0.18);
}
tr.odd {
  background: #e4e4e4;
  background: rgba(0, 0, 0, 0.105);
}
tr,
tr.even {
  background: #efefef;
  background: rgba(0, 0, 0, 0.063);
}
table ul.links {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
table ul.links li {
  padding: 0 1em 0 0;
}

/* ------------------ List Styles ------------------ */

.block ol,
.block ul {
  margin: 0;
  padding: 0 0 0.25em 1em; /* LTR */
}
.contextual-links-wrapper {
  font-size: small !important;
}
ul.contextual-links {
  font-size: 0.923em;
}
.contextual-links-wrapper a {
  text-shadow: 0 0 0 !important;
}
.item-list .pager {
  font-size: 0.929em;
}
ul.menu li {
  margin: 0;
}
.region-content ul,
.region-content ol {
  margin: 1em 0;
  padding: 0 0 0.25em 2.5em; /* LTR */
}
.item-list ul li {
  margin: 0;
  padding: 0.2em 0.5em 0 0; /* LTR */
}
ul.tips {
  padding: 0 0 0 1.25em; /* LTR */
}

/* ------------------ Header ------------------ */
#skip-link {
  left: 50%;
  margin-left: -5.25em;
  margin-top: 0;
  position: absolute;
  width: auto;
  z-index: 50;
}
#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: block;
  font-size: 0.94em;
  line-height: 1.7;
  padding: 1px 10px 2px 10px;
  text-decoration: none;
  -khtml-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-radius: 0 0 10px 10px;
}
#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  outline: 0;
}
#logo {
  float: left; /* LTR */
  padding: 15px 15px 15px 10px; /* LTR */
}
#name-and-slogan {
  float: left; /* LTR */
  padding-top: 34px;
  margin: 0 0 30px 15px; /* LTR */
}
#site-name {
  font-size: 1.821em;
  color: #686868;
  line-height: 1;
}
h1#site-name {
  margin: 0;
}
#site-name a {
  font-weight: normal;
}
#site-slogan {
  font-size: 0.929em;
  margin-top: 7px;
  word-spacing: 0.1em;
  font-style: italic;
}
/* Region header blocks. */
.region-header .block {
  font-size: 0.857em;
  float: left; /* LTR */
  margin: 0 10px;
  padding: 0;
}
.region-header .block .content {
  margin: 0;
  padding: 0;
}
.region-header .block ul {
  margin: 0;
  padding: 0;
}
.region-header .block li {
  list-style: none;
  list-style-image: none;
  padding: 0;
  /*float:left;*/
}
.region-header .form-text {
  background: #fefefe;
  background: rgba(255, 255, 255, 0.7);
  /*border-color: #ccc;
  border-color: rgba(255, 255, 255, 0.3);*/
  margin-right: 2px; /* LTR */
  width: 120px;
  margin-top:20px;
}
.region-header .form-text:hover,
.region-header .form-text:focus,
.region-header .form-text:active {
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
}
.region-header .form-required {
  color: #eee;
  color: rgba(255, 255, 255, 0.7);
}
/* Region header block menus. */
.region-header .block-menu {
  border: 1px solid;
  border-color: #eee;
  border-color: rgba(255, 255, 255, 0.2);
  padding: 0;
  margin-top:22px;
  /*width: 208px;*/
}
.region-header .block-menu li a {
  display: block;
  border-bottom: 1px solid;
  border-bottom-color: #eee;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  padding: 3px 7px;
}
.region-header .block-menu li a:hover,
.region-header .block-menu li a:focus,
.region-header .block-menu li a:active {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.15);
}
.region-header .block-menu li.last a {
  border-bottom: 0;
}
/* User Login block in the header region */
.region-header #block-user-login {
  width: auto;
}
.region-header #block-user-login .content {
  margin-top: 2px;
}
.region-header #block-user-login .form-item {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}
.region-header #block-user-login div.item-list,
.region-header #block-user-login div.description {
  font-size: 0.916em;
  margin: 0;
}
.region-header #block-user-login div.item-list {
  clear: both;
}
.region-header #block-user-login div.description {
  display: inline;
}
.region-header #block-user-login .item-list ul {
  padding: 0;
  line-height: 1;
}
.region-header #block-user-login .item-list li {
  list-style: none;
  float: left; /* LTR */
  padding: 3px 0 1px;
}
.region-header #block-user-login .item-list li.last {
  padding-left: 0.5em; /* LTR */
}
.region-header #block-user-login ul.openid-links li.last {
  padding-left: 0; /* LTR */
}
.region-header #user-login-form li.openid-link a,
.region-header #user-login li.openid-link a {
  padding-left: 20px; /* LTR */
}
.region-header #block-user-login .form-actions {
  margin: 4px 0 0;
  padding: 0;
  clear: both;
}
.region-header #block-user-login input.form-submit {
  border: 1px solid;
  border-color: #ccc;
  border-color: rgba(255, 255, 255, 0.5);
  background: #eee;
  background: rgba(255, 255, 255, 0.7);
  margin: 4px 0;
  padding: 3px 8px;
}
.region-header #block-user-login input.form-submit:hover,
.region-header #block-user-login input.form-submit:focus {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
}
/* Search block in region header. */
.region-header #block-search-form {
  width: 208px;
}
.region-header #block-search-form .form-text {
  width: 154px;
}
/* Language switcher block in region header. */
.region-header .block-locale ul li {
  display: inline;
  padding: 0 0.5em;
}

/* --------------- Main Menu ------------ */

#main-menu {
  clear: both;
}
#main-menu-links {
  font-size: 0.929em;
  margin: 0;
  padding: 0 15px;
}
#main-menu-links li {
  float: left; /* LTR */
  list-style: none;
  padding: 0 1px;
  margin: 0 1px;
}
#main-menu-links a {
  color: #333;
  background: #ccc;
  background: rgba(255, 255, 255, 0.7);
  float: left; /* LTR */
  height: 2.4em;
  line-height: 2.4em;
  padding: 0 0.8em;
  text-decoration: none;
  text-shadow: 0 1px #eee;
  -khtml-border-radius-topleft: 8px;
  -khtml-border-radius-topright: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
#main-menu-links a:hover,
#main-menu-links a:focus {
  background: #f6f6f2;
  background: rgba(255, 255, 255, 0.95);
}
#main-menu-links a:active {
  background: #b3b3b3;
  background: rgba(255, 255, 255, 1);
}
#main-menu-links li a.active {
  border-bottom: none;
}
.featured #main-menu-links li a:active,
.featured #main-menu-links li a.active {
  background: #f0f0f0;
  background: rgba(240, 240, 240, 1.0);
}

/* --------------- Secondary Menu ------------ */

#secondary-menu-links {
  float: right; /* LTR */
  font-size: 0.929em;
  margin: 10px 10px 0;
}
#secondary-menu-links a:hover,
#secondary-menu-links a:focus {
  text-decoration: underline;
}

/* ------------------- Main ------------------- */

#main {
  margin-top: 20px;
  margin-bottom: 40px;
}

/* ----------------- Featured ----------------- */

/*#featured {
  text-align: center;
  font-size: 1.643em;
  font-weight: normal;
  line-height: 1.4;
  padding: 20px 0 45px;
  margin: 0;
  background: #f0f0f0;
  background: rgba(30, 50, 10, 0.08);
  border-bottom: 1px solid #e7e7e7;
  text-shadow: 1px 1px #fff;
}*/
#featured h2 {
  font-size: 1.174em;
  line-height: 1;
}
#featured p {
  margin: 0;
  padding: 0;
}

/* --------------- Highlighted ---------------- */

#highlighted {
  border-bottom: 1px solid #d3d7d9;
  font-size: 120%;
}

/* ------------------- Help ------------------- */

.region-help {
  border: 1px solid #d3d7d9;
  padding: 0 1.5em;
  margin-bottom: 30px;
}

/* ----------------- Content ------------------ */

.content {
  margin-top: 10px;
}
h1#page-title {
  font-size: 2em;
  line-height: 1;
}
#content h2 {
  margin-bottom: 2px;
  font-size: 1.429em;
  line-height: 1.4;
}
.node .content {
  font-size: 1.071em;
}
.node-teaser .content {
  font-size: 1em;
}
.node-teaser h2 {
  margin-top: 0;
  padding-top: 0.5em;
}
.node-teaser h2 a {
  color: #181818;
}
.node-teaser {
  border-bottom: 1px solid #d3d7d9;
  margin-bottom: 30px;
  padding-bottom: 15px;
}
.node-sticky {
  background: #f9f9f9;
  background: rgba(0, 0, 0, 0.024);
  border: 1px solid #d3d7d9;
  padding: 0 15px 15px;
}
.node-full {
  background: none;
  border: none;
  padding: 0;
}
.node-teaser .content {
  clear: none;
  line-height: 1.6;
}
.meta {
  font-size: 0.857em;
  color: #68696b;
  margin-bottom: -5px;
}
.submitted .user-picture img {
  float: left; /* LTR */
  height: 20px;
  margin: 1px 5px 0 0; /* LTR */
}
.field-type-taxonomy-term-reference {
  margin: 0 0 1.2em;
}
/*.field-type-taxonomy-term-reference .field-label {
  font-weight: normal;
  margin: 0;
  padding-right: 5px; /* LTR */
/*}
.field-type-taxonomy-term-reference .field-label,
.field-type-taxonomy-term-reference ul.links {
  font-size: 0.8em;
}*/
.node-teaser .field-type-taxonomy-term-reference .field-label,
.node-teaser .field-type-taxonomy-term-reference ul.links {
  font-size: 0.821em;
}
.field-type-taxonomy-term-reference ul.links {
  padding: 0;
  margin: 0;
  list-style: none;
}
.field-type-taxonomy-term-reference ul.links li {
  float: left; /* LTR */
  padding: 0 1em 0 0; /* LTR */
  white-space: nowrap;
}
.link-wrapper {
  text-align: right;
}
.field-type-image img,
.user-picture img {
  margin: 0 0 1em;
}
ul.links {
  color: #68696b;
  /*font-size: 0.821em;*/
}
.node-unpublished {
  margin: -20px -15px 0;
  padding: 20px 15px 0;
}
.node-unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}

/* ----------------- Comments ----------------- */

.comment h2.title {
  margin-bottom: 1em;
}
.comment div.user-picture img {
  margin-left: 0; /* LTR */
}
.comment {
  margin-bottom: 20px;
  display: table;
  vertical-align: top;
}
.comment .attribution {
  display: table-cell;
  padding: 0 30px 0 0; /* LTR */
  vertical-align: top;
  overflow: hidden;
}
.comment .attribution img {
  margin: 0;
  border: 1px solid #d3d7d9;
}
.comment .attribution .username {
  white-space: nowrap;
}
.comment .submitted p {
  margin: 4px 0;
  font-size: 1.071em;
  line-height: 1.2;
}
.comment .submitted .comment-time {
  font-size: 0.786em;
  color: #68696b;
}
.comment .submitted .comment-permalink {
  font-size: 0.786em;
  text-transform: lowercase;
}
.comment .content {
  font-size: 0.929em;
  line-height: 1.6;
}
.comment .comment-arrow {
  background: url(../images/comment-arrow.gif) no-repeat 0 center transparent; /* LTR */
  border-left: 1px solid;
  border-right: 1px solid;
  height: 40px;
  margin-left: -47px; /* LTR */
  margin-top: 10px;
  position: absolute;
  width: 20px;
}
.comment .comment-text {
  padding: 10px 25px;
  border: 1px solid #d3d7d9;
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 100%;
}
.comment .indented {
  margin-left: 40px; /* LTR */
}
.comment ul.links {
  padding: 0 0 0.25em 0;
}
.comment ul.links li {
  padding: 0 0.5em 0 0; /* LTR */
}
.comment-unpublished {
  margin-right: 5px; /* LTR */
  padding: 5px 2px 5px 5px; /* LTR */
}
.comment-unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}

/* ------------------ Sidebar ----------------- */
.sidebar .section {
  padding-top: 10px;
}
.sidebar .block {
  border: 1px solid;
  /*padding: 15px 20px;*/
  padding:1px 6px 0px 6px;
  margin: 0 0 20px;
}
/*.sidebar h2 {
  margin: 0 0 0.5em;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 5px;
  text-shadow: 0 1px 0 #fff;
  font-size: 1.071em;
  line-height: 1.2;
}*/
.sidebar .block .content {
  font-size: 0.914em;
  line-height: 1.4;
}
.sidebar tbody {
  border: none;
}
.sidebar tr.even,
.sidebar tr.odd {
  background: none;
  border-bottom: 1px solid #d6d6d6;
}

/* ----------------- Triptych ----------------- */

#triptych-wrapper {
  background-color: #f0f0f0;
  background: rgba(30, 50, 10, 0.08);
  border-top: 1px solid #e7e7e7;
}
#triptych h2 {
  color: #000;
  font-size: 1.714em;
  margin-bottom: 0.8em;
  text-shadow: 0 1px 0 #fff;
  text-align: center;
  line-height: 1;
}
#triptych .block {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #dfdfdf;
  line-height: 1.3;
}
#triptych .block.last {
  border-bottom: none;
}
#triptych .block ul li,
#triptych .block ol li {
  list-style: none;
}
#triptych .block ul,
#triptych .block ol {
  padding-left: 0;
}
#triptych #block-user-login .form-text {
  width: 185px;
}
#triptych #block-user-online p {
  margin-bottom: 0;
}
#triptych #block-node-syndicate h2 {
  overflow: hidden;
  width: 0;
  height: 0;
}
#triptych-last #block-node-syndicate {
  text-align: right;
}
#triptych #block-search-form .form-type-textfield input {
  width: 185px;
}
#triptych-middle #block-system-powered-by {
  text-align: center;
}
#triptych-last #block-system-powered-by {
  text-align: right;
}

/* ------------------ Footer ------------------ */

#footer-wrapper {
  color: #c0c0c0;
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.857em;
}
#footer-wrapper a {
  color: #fcfcfc;
  color: rgba(255, 255, 255, 0.8);
}
#footer-wrapper a:hover,
#footer-wrapper a:focus {
  color: #fefefe;
  color: rgba(255, 255, 255, 0.95);
  text-decoration: underline;
}
#footer-wrapper .block {
  margin: 20px 0;
  border: 1px solid #444;
  border-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
}
#footer-columns .block-menu,
#footer .block {
  margin: 0;
  padding: 0;
  border: none;
}
#footer .block {
  margin: 0.5em 0;
}
#footer .block .content {
  padding: 0.5em 0;
  margin-top: 0;
}
#footer .block h2 {
  margin: 0;
}
#footer-columns h2 {
  border-bottom: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
  font-size: 1em;
  margin-bottom: 0;
  padding-bottom: 3px;
  text-transform: uppercase;
}
#footer-columns .content {
  margin-top: 0;
}
#footer-columns p {
  margin-top: 1em;
}
#footer-columns .content ul {
  list-style: none;
  padding-left: 0; /* LTR */
  margin-left: 0;
}
#footer-columns .content li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#footer-columns .content li a {
  display: block;
  border-bottom: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
  line-height: 1.2;
  padding: 0.8em 2px 0.8em 20px; /* LTR */
  text-indent: -15px;
}
#footer-columns .content li a:hover,
#footer-columns .content li a:focus {
  background-color: #1f1f21;
  background-color: rgba(255, 255, 255, 0.05);
  text-decoration: none;
}
#footer {
  letter-spacing: 0.1px;
  margin-top: 30px;
  border-top: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
}
/*#footer .region {
  margin-top: 20px;
  float:left;
}*/
#footer .block {
  clear: both;
}
#footer ul,
#footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#footer li a {
  float: left; /* LTR */
  padding: 0 6px;
  display: block;
  border-right: 1px solid #555; /* LTR */
  border-color: rgba(255, 255, 255, 0.15);
}
#footer li.first a {
  padding-left: 0; /* LTR */
}
#footer li.last a {
  padding-right: 0; /* LTR */
  border-right: none; /* LTR */
}
#footer-wrapper tr.odd {
  background-color: transparent;
}
#footer-wrapper tr.even {
  background-color: #2c2c2c;
  background-color: rgba(0, 0, 0, 0.15);
}

/* --------------- System Tabs  --------------- */

.tabs {
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family:Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}
.tabs ul.primary {
  padding: 0 3px;
  margin: 0;
  overflow: hidden;
  border: none;
  background: transparent url(../images/tabs-border.png) repeat-x left bottom;
}
.tabs ul.primary li {
  display: block;
  float: left; /* LTR */
  vertical-align: bottom;
  margin: 0 5px 0 0; /* LTR */
}
.tabs ul.primary li.active a {
  border-bottom: 1px solid #ffffff;
}
.tabs ul.primary li a {
  color: #000;
  background-color: #ededed;
  height: 1.8em;
  line-height: 1.9;
  display: block;
  font-size: 0.929em;
  float: left; /* not LTR */
  padding: 0 10px 3px;
  margin: 0;
  text-shadow: 0 1px 0 #fff;
  -khtml-border-radius-topleft: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -khtml-border-radius-topright: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
}
.tabs ul.secondary {
  border-bottom: none;
  padding: 0.5em 0;
}
.tabs ul.secondary li {
  display: block;
  float: left; /* LTR */
}
.tabs ul.secondary li:last-child {
  border-right: none; /* LTR */
}
.tabs ul.secondary li:first-child {
  padding-left: 0; /* LTR */
}
.tabs ul.secondary li a {
  padding: 0.25em 0.5em;
}
.tabs ul.secondary li a.active {
  background: #f2f2f2;
  border-bottom: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
ul.action-links {
  list-style: none;
  margin: 5px;
  padding: 0.5em 1em;
}
ul.action-links li {
  display: inline-block;
  margin-left: 10px;
}
ul.action-links li a {
  padding-left: 15px;
  background: url(../images/add.png) no-repeat left center;
  margin: 0 10px 0 0;
}

/* ---------------- Messages  ----------------- */

#messages {
  padding: 20px 0 5px;
  margin: 0 auto;
}
.featured #messages {
  background: #f0f0f0;
  background: rgba(30, 50, 10, 0.08);
}
div.messages {
  margin: 8px 15px;
}

/* -------------- Breadcrumbs   -------------- */

.breadcrumb {
  font-size: 0.929em;
}

/* -------------- User Profile   -------------- */

.profile .user-picture {
  float: none;
}

/* -------------- Password Meter  ------------- */

.confirm-parent,
.password-parent {
  width: 34em;
}
.password-parent,
div.form-item div.password-suggestions {
  position: relative;
}
.password-strength-text,
.password-strength-title,
div.password-confirm {
  font-size: 0.82em;
}
.password-strength-text {
  margin-top: 0.2em;
}
div.password-confirm {
  margin-top: 2.2em;
  width: 20.73em;
}

/* ---------------- Buttons    ---------------- */

input.form-submit,
a.button {
 /* background-image:url(../images/bg_button.png);*/	
 /* background: #fff url(../images/buttons.png) 0 0 repeat-x;*/
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 0.929em;
  font-weight: normal;
  text-align: center;
  margin-bottom: 1em;
  margin-right: 0.6em; /* LTR */
  padding: 4px 17px;
  -khtml-border-radius: 15px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
a.button:link,
a.button:visited,
a.button:hover,
a.button:focus,
a.button:active {
  text-decoration: none;
  color: #5a5a5a;
}

/* -------------- Form Elements   ------------- */

/*fieldset {
  background: #ffffff;
  border: 1px solid #cccccc;
  margin-top: 10px;
  margin-bottom: 32px;
  padding: 0 0 10px;
  position: relative;
  top: 12px; /* Offsets the negative margin of legends */
  /*-khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}*/
.fieldset-wrapper {
  margin-top: 25px;
}
.node-form .vertical-tabs .fieldset-wrapper {
  margin-top: 0;
}
.filter-wrapper {
  top: 0;
  padding: 1em 0 0.2em;
  -khtml-border-radius-topright: 0;
  -khtml-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.filter-help a {
  font-size: 0.857em;
  padding: 2px 20px 0;
}
.filter-wrapper .form-item label {
  margin-right: 10px;
}
.filter-wrapper .form-item {
  padding: 0 0 0.5em 0.5em;
}
.filter-guidelines {
  padding: 0 1.5em 0 0.5em;
}
fieldset.collapsed {
  background: transparent;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
fieldset legend {
  background: #dbdbdb;
  border: 1px solid #ccc;
  border-bottom: none;
  color: #3b3b3b;
  display: block;
  height: 2em;
  left: -1px; /* LTR */
  /*font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;*/
  font-family:Arial, Helvetica, sans-serif;
  line-height: 2;
  padding: 0;
  position: absolute;
  text-indent: 10px;
  text-shadow: 0 1px 0 #fff;
  top: -12px;
  width: 100%;
  -khtml-border-radius-topleft: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -khtml-border-radius-topright: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
fieldset.collapsed legend {
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
fieldset legend a {
  color: #3b3b3b;
}
fieldset legend a:hover,
fieldset legend a:focus,
fieldset legend a:active {
  color: #000;
}
fieldset .fieldset-wrapper {
  padding: 0 10px;
}
fieldset .fieldset-description {
  margin-top: 5px;
  margin-bottom: 1em;
  line-height: 1.4;
  color: #3c3c3c;
  font-style: italic;
}
input {
  /*margin: 2px 0;*/
  padding: 4px;
  /*padding-bottomm: 0px\9 !important;	*/
}
input,
textarea {
  font-size: 0.929em;
}
textarea {
  line-height: 1.5;
}
textarea.form-textarea,
select.form-select {
  padding: 4px;
}
input.form-text,
textarea.form-textarea,
select.form-select {
  border: 1px solid #ccc;
  
}
input.form-submit:hover,
input.form-submit:focus {
  background: #dedede;
}
.password-suggestions ul li {
  margin-left: 1.2em; /* LTR */
}
.form-item {
  margin-bottom: 1em;
  margin-top: 2px;
}
.form-item label {
  font-size: 0.929em;
}
.form-type-radio label,
.form-type-checkbox label {
  margin-left: 4px;
}
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2px;
}
.form-actions {
  padding-top: 10px;
}
/* Contact Form */
.contact-form #edit-name {
  width: 75%;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.contact-form #edit-mail {
  width: 75%;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.contact-form #edit-subject {
  width: 75%;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.contact-form #edit-message {
  width: 76.3%;
  -khtml-border-top-left-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.contact-form .resizable-textarea .grippie {
  width: 76%;
  -khtml-border-bottom-left-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* Disabled form elements */
input.form-button-disabled,
input.form-button-disabled:hover,
input.form-button-disabled:focus,
input.form-button-disabled:active,
.form-disabled input,
.form-disabled select,
.form-disabled textarea {
  background: #ededed;
  border-color: #bbb;
  color: #717171;
}
.form-disabled .grippie {
  background-color: #ededed;
  border-color: #bbb;
}
.form-disabled label {
  color: #717171;
}

/* Animated throbber */
html.js input.form-autocomplete {
  background-position: 100% 4px; /* LTR */
}
html.js input.throbbing {
  background-position: 100% -16px; /* LTR */
}

/* Comment form */
.comment-form label {
  float: left; /* LTR */
  font-size: 0.929em;
  width: 120px;
}
.comment-form input,
.comment-form .form-select {
  margin: 0;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.comment-form .form-type-textarea label {
  float: none;
}
.comment-form .form-item,
.comment-form .form-radios,
.comment-form .form-type-checkbox,
.comment-form .form-select {
  margin-bottom: 10px;
  overflow: hidden;
}
.comment-form .form-type-checkbox,
.comment-form .form-radios {
  margin-left: 120px; /* LTR */
}
.comment-form .form-type-checkbox label,
.comment-form .form-radios label {
  float: none;
  margin-top: 0;
}
.comment-form input.form-file {
  width: auto;
}
.no-sidebars .comment-form .form-text {
  width: 800px;
}
.one-sidebar .comment-form .form-text {
  width: 500px;
}
.two-sidebars .comment-form .form-text {
  width: 320px;
}
.comment-form .form-item .description {
  font-size: 0.786em;
  line-height: 1.2;
  margin-left: 120px; /* LTR */
}
#content h2.comment-form {
  margin-bottom: 0.5em;
}
.comment-form .form-textarea {
  -khtml-border-radius-topleft: 4px;
  -khtml-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.comment-form fieldset.filter-wrapper .fieldset-wrapper,
.comment-form .text-format-wrapper .form-item {
  margin-top: 0;
  margin-bottom: 0;
}
.filter-wrapper label {
  width: auto;
  float: none;
}
.filter-wrapper .form-select {
  min-width: 120px;
}
.comment-form fieldset.filter-wrapper .tips {
  font-size: 0.786em;
}
#comment-body-add-more-wrapper .form-type-textarea label {
  margin-bottom: 0.4em;
}
#edit-actions input {
  margin-right: 0.6em; /* LTR */
}

/* -------------- Other Overrides ------------- */

div.password-suggestions {
  border: 0;
}
.ui-widget-overlay {
  background: #222222;
  opacity: 0.7;
}
div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {
  padding: 1em;
}
#forum .name {
  font-size: 1.083em;
}
#forum .description {
  font-size: 1em;
}

/* --------------- Search Form ---------------- */

#block-search-form {
  padding-bottom: 7px;
}
#block-search-form .content {
  margin-top: 0;
}
#search-form input#edit-keys,
#block-search-form .form-item-search-block-form input {
  float: left; /* LTR */
  font-size: 1em;
  height: 1.143em;
  margin-right: 5px;
  width: 9em;
}
#search-block-form input.form-submit,
#search-form input.form-submit {
  margin-left: 0;
  margin-right: 0;
  height: 25px;
  width: 34px;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
  border-color: #e4e4e4 #d2d2d2 #b4b4b4;
  background: url(../images/search-button.png) no-repeat center top;
  overflow: hidden;
}
#search-block-form input.form-submit:hover,
#search-block-form input.form-submit:focus,
#search-form input.form-submit:hover,
#search-form input.form-submit:focus {
  background-position: center bottom;
}
#search-form .form-item-keys label {
  display: block;
}

/* --------------- Search Results ---------------- */
ol.search-results {
  padding-left: 0;
}
.search-results li {
  border-bottom: 1px solid #d3d7d9;
  padding-bottom: 0.4285em;
  margin-bottom: 0.5em;
}
.search-results li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 1em;
}
.search-results .search-snippet-info {
  padding-left: 0;
}

/* -------------- Shortcut Links -------------- */

.shortcut-wrapper {
  margin: 2.2em 0 1.1em 0; /* Same as usual h1#page-title margin. */
}
.shortcut-wrapper h1#page-title {
  float: left; /* LTR */
  margin: 0;
}
div.add-or-remove-shortcuts {
  padding-top: 0.9em;
}
.overlay div.add-or-remove-shortcuts {
  padding-top: 0.8em;
}

/* ---------- Admin-specific Theming ---------- */

.page-admin #content img {
  margin-right: 15px; /* LTR */
}
.page-admin #content .simpletest-image img {
  margin: 0;
}
.page-admin-structure-block-demo .block-region {
  background: #ffff66;
  border: 1px dotted #9f9e00;
  color: #000;
  font: 90% "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  margin: 5px;
  padding: 5px;
  text-align: center;
  text-shadow: none;
}
.page-admin-structure-block-demo #featured .block-region {
  font-size: 0.55em;
}
.page-admin-structure-block-demo #header .block-region {
  width: 500px;
}
.page-admin #admin-dblog img {
  margin: 0 5px;
}
/* Fix spacing when Seven is used in the overlay. */
#system-theme-settings fieldset {
  padding: 0;
}
#system-theme-settings fieldset .fieldset-legend {
  margin-top: 0;
}
/* Configuration. */
div.admin .right,
div.admin .left {
  width: 49%;
  margin: 0;
}
div.admin-panel {
  background: #fbfbfb;
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 0 5px 5px;
}
div.admin-panel h3 {
  margin: 16px 7px;
}
div.admin-panel dt {
  border-top: 1px solid #ccc;
  padding: 7px 0 0;
}
div.admin-panel dd {
  margin: 0 0 10px;
}
div.admin-panel .description {
  margin: 0 0 14px 7px;
}

/* ---------- Overlay layout styles ----------- */

.overlay #main,
.overlay #content {
  width: auto;
  float: none;
}
.overlay #page {
  padding: 0 2em;
}
.overlay .region-page-top,
.overlay #header,
.overlay #page-title,
.overlay #featured,
.overlay #sidebar-first,
.overlay #triptych-wrapper,
.overlay #footer-wrapper {
  display: none;
}
.overlay-processed .field-type-image {
  display: block;
  float: none;
}
.overlay #messages {
  width: auto;
}

/* ---------- Poll ----------- */

.node .poll {
  margin: 2em 0;
}
.node .poll #edit-choice {
  margin: 0 0 1.5em;
}
.poll .vote-form {
  text-align: left; /* LTR */
}
.poll .vote-form .choices {
  margin: 0;
}
.poll .percent {
  font-size: 0.857em;
  font-style: italic;
  margin-bottom: 3em;
  margin-top: -3.2em;
  float: right;
  text-align: right;
}
.poll .text {
  clear: right;
  margin-right: 2.25em;
}
.poll .total {
  font-size: 0.929em;
  font-style: italic;
  text-align: right; /* LTR */
  clear: both;
}
.node .poll {
  margin: 1.8em 0 0;
}
.node .poll .text {
  margin-right: 6.75em;
}
.node .poll #edit-choice {
  margin: 0 0 1.2em;
}
.poll .bar .foreground {
  background-color: #666;
}
#footer-wrapper .poll .bar {
  background-color: #666;
}
#footer-wrapper .poll .bar .foreground {
  background-color: #ddd;
}
.node-gallery {
  float: left;
  width: 150px;
  height: 150px;
  position: relative;
    margin: 0 60px 50px 0;
}
 
.node-gallery img {
    position: absolute;
    bottom:0px;
}
 
.node-gallery .image1 {left: 0px;
  z-index: 3;
  -webkit-transition:all 0.2s ease;
  -moz-transition:all 0.2s ease;
  -o-transition:all 0.2s ease
}
 
.node-gallery .image2 {left: 7px;
  height: 148px;
  z-index: 2;
  -webkit-transition:all 0.2s ease;
  -moz-transition:all 0.2s ease;
  -o-transition:all 0.2s ease
}
 
.node-gallery .image3 {left: 14px;
  height: 145px;
  z-index: 1;
  -webkit-transition:all 0.2s ease;
  -moz-transition:all 0.2s ease;
  -o-transition:all 0.2s ease
}
 
.image1, .image2, .image3{
  border: 5px solid #F3F3F3;
  box-shadow: 1px 1px 2px #666;
  -webkit-shadow:1px 1px 2px #666;
  -webkit-transform:rotate(0deg) translate(0px);
}
 
.node-gallery:hover .image1{
   z-index: 6;
  -ms-transform: rotate(-5deg) translate(-40px, -2px);
  -ms-transform-origin:center bottom;
  -webkit-transform: rotate(-5deg) translate(-40px, 2px);
  -webkit-transform-origin:center bottom;
  -moz-transform: rotate(-5deg) translate(-40px, -2px);
  -moz-transform-origin:center bottom;
  -o-transform: rotate(-5deg) translate(-40px, -2px);
  -o-transform-origin:center bottom;
}
 
.node-gallery:hover .image2{
   z-index: 5;
  -ms-transform: rotate(-2deg) translate(0px, 2px);
  -ms-transform-origin:center bottom;
  -webkit-transform: rotate(-2deg) translate(0px, -2px);
  -webkit-transform-origin:center bottom;
  -moz-transform: rotate(-2deg) translate(0px, 2px);
  -moz-transform-origin:center bottom;
  -o-transform: rotate(-2deg) translate(0px, 2px);
  -o-transform-origin:center bottom;
}
 
.node-gallery:hover .image3{
   z-index: 4;
  -ms-transform: rotate(5deg) translate(40px,-2px);
  -ms-transform-origin:center bottom;
  -webkit-transform: rotate(5deg) translate(40px,2px);
  -webkit-transform-origin:center bottom;
  -moz-transform: rotate(5deg) translate(40px,-2px);
  -moz-transform-origin:center bottom;
  -o-transform: rotate(5deg) translate(40px,-2px);
  -o-transform-origin:center bottom;
}

#highlighted
{
border-bottom:none;
/*margin-left: 20px;*/
margin-right: -20px;
}


#views_slideshow_cycle_teaser_section_photo_gallery-block_1
{

height:217px;
width:935px;
position:relative;
margin:-30px 0 0 -237px;
}

#block-block-1
{
float:left;
margin: -9px 0 -1px -229px;
}

#edit-submit-search
{
float:left;
margin:10px 0 29px -227px;
}


/*#edit-field-spacialist-in-tid-wrapper
{
background-image:url('../images/speciality.png');
background-repeat:no-repeat;
background-size:100%;
float:left;
margin-top:2%;
width:27%;

}

#edit-field-name-value-wrapper
{
background-image:url('../images/name.png');
background-repeat:no-repeat;
background-size:100%;
float:left;
margin: 2% 0 0 4%;
width:27%;
}

#edit-name-wrapper
{
background-image:url('../images/location.png');
background-repeat:no-repeat;
background-size:100%;
margin:2% 0 0 4%;
width:27%;
}*/

/*#edit-field-spacialist-in-tid-wrapper label
{
background-image:url('../images/speciality.png');
background-repeat:no-repeat;
background-size:100%;
height:136px;
width:486px!important;
width:50%;
margin-left:25%;
}

#edit-field-name-value-wrapper
{
background-image:url('../images/name.png');
background-repeat:no-repeat;
background-size:100%;
height:136px;
width:486px!important;
margin-left:25%;
width:50%;

}

#edit-field-location-value-wrapper
{
background-image:url('../images/location.png');
background-repeat:no-repeat;
background-size:100%;
height:142px;
width:486px!important;
margin-left:25%;
width:50%;
}*/

/*#edit-name--2-wrapper
{
background-image:url('../images/location.png');
background-repeat:no-repeat;
background-size:100%;
height:95px;
float:left;
width:29%;
}*/


/*#edit-submit-research
{
float:left;
margin:6px 0px 0px -168px;
height:32px;
margin:0px 0px 0px 455px;
}*/

/*#edit-submit-research:hover
{
color:red;
}*/

/*#block-views-speciality-block{margin:340px 0 20px;}*/

#block-simpleads-ad-groups-29
{
/*margin:340px 0 20px;*/
padding: 0px;
}

#block-system-main
{
margin:-20px;
width:auto;
height:auto;
}

#block-system-main h2
{
font-size:20px;
margin:-5px 0 -12px;
text-align:justify;
}

#node-74
{
float:left;
margin:22px 0 30px 21px;
}

#node-74 .field-label-hidden
{
width:187px;
text-align:justify;
/*font-size:13px;*/
margin:6px 0 -5px 0;
}

#node-74 .inline{
display:none;
}



  
#node-73
{
float:right;
margin-top:18px;
}

#node-73 .field-label-hidden
{
width:187px;
text-align:justify;
/*font-size:13px;*/
}

#node-73 .inline{
display:none;
}





#block-views-hospitals-in-ahmedabad-block{

font-size:18px;
text-align:center;
margin-top:-15px;
margin-left:-13px;
}
#views_slideshow_cycle_teaser_section_hospitals_in_ahmedabad-block
{
margin:-12px;
margin-top:30px;

}


#main-menu-links
{
font-size:14px;

}
#breadcrumb
{
text-indent:-9999px;
margin:-13px;
}

#content .feed-icon
{
text-indent:-9999px;
}

/*.views-exposed-widget #edit-field-spacialist-in-tid
{
width:100%;
margin-top:5px;
}*/

/*.views-exposed-widgets .form-item-field-spacialist-in-tid{width:97%;}
.views-exposed-widgets #edit-field-spacialist-in-tid {
  width:97%;}*/



/*.views-exposed-widget #edit-name--2{
width:100%;
margin-top:32%;
}*/

/*-----css chang-12/2/13-------------*/

.view-id-research .link-wrapper ul
{
display:none;
}

h1#page-title
{
margin: 33px 0px 0px -20px;
padding-bottom: 17px;
margin-top: 20px;

}

ul.inline
{
display:none;

}
#site-name span
{
color:#0a0808;
}

.link-wrapper ul li a
{
display: none;

}

.field-name-field-site2:hover
{
color:red;
}
.views-field-field-link2
{
font-size:1.1em;
}

.views-field-field-link2:hover
{
color:red;
}
.view-speciality .views-row h2 a:hover
{
color:red;
}

.view-research
{
padding-top:10px;
}

#footer {margin: 0px;
padding: 0px;
border: none;
text-align: left;
/*margin-left: 130px;*/}


/*******************************************Added Recently**************************************************************/

#header{
background-image: url("../images/headerbg.jpg")!important;
width:100%!important;
height:150px!important;
background-repeat:no-repeat!important;
background-size:160%!important;
}

#logo{width:50%;float:left;margin-top:1%;}
#logo img{width:100%;}

.region-header .block-menu {
cursor: pointer;
border: 1px solid;
border-color: #eee;
border-color: rgba(255,255,255,0.2);
padding: 0;
width: 208px;
}


#block-menu-menu-site-menu h2{
position: relative!important;
background-image: url("../images/menu_btn.png")!important;
font-size: 0px;
background-repeat:no-repeat;
height:100px;
width:40%;
float:right;
margin-top:-8%;
}


/*#block-block-7{display:none;margin-left:30px;position:absolute;background-repeat:no-repeat;cursor:pointer;width:40%;float:right;height:100px;}*/

#block-block-7 {
display: none;
/*margin-left: 30px;
background-repeat: no-repeat;
cursor: pointer;
width: 40%;
float: right;
height: 100px;
margin-right: 0%;
margin-top: -90%;*/
}

#block-menu-menu-site-menu ul{
  display:none;	
  color:#FFFFFF;
  /*background:#31A8AC;*/
  background: #8D9AA3;
  margin-top:57%;
  width:466%;
  margin-left:-296%;
  font-size:32px;
  line-height:40px;	
}


#block-menu-menu-site-menu ul li{
	/*font-family:Trebuchet MS;width:100%;*/
	font-family:Arial, Helvetica, sans-serif;
	font-size:46px;line-height:90px;
	border-top: 1px solid #565656;	font-weight:bold;}


.region-header .block-menu li a:selected {
  text-decoration: none;
  background-color:#000000;
}

#block-menu-menu-site-menu ul li a{
	/*font-family:Trebuchet MS;padding-left:30px;*/
	font-family:Arial, Helvetica, sans-serif;
}
#block-menu-menu-site-menu ul a:hover{background-color:#000000;}
#block-menu-menu-site-menu:visited{background-color:#000000;}
#block-menu-menu-site-menu li.leaf {padding-top:0em!important;padding-right:0em!important;}


#node-73{display:none!important;}
#node-74{display:none!important;}


#featured{background-image: url("../images/main.jpeg")!important; background-size:100% 100%;background-repeat:no-repeat;z-index:-1;height:auto;margin-top:-12px!important;width:100%;}



/*
#footer-wrapper{display:none;}
#main-wrapper{display:none;}
.views-exposed-form{display:none;}*/

#edit-field-spacialist-in-tid-wrapper{display:block;width:100%;height:100px;margin-top:2%;}
#edit-field-name-value-wrapper{display:block;width:100%;height:100px;}
#edit-field-location-value-wrapper{display:block;width:100%;height:100px;}


.views-exposed-form #edit-field-spacialist-in-tid-wrapper label {font-size:50px;float:left;margin-left:5%;}
.views-exposed-form #edit-field-name-value-wrapper label {font-size:50px;float:left;margin-left:5%;}
.views-exposed-form #edit-field-location-value-wrapper label{font-size:50px;float:left;margin-left:5%;}


.views-exposed-widgets input{padding-bottom:0px\9 !important;}

.views-exposed-widgets #edit-field-spacialist-in-tid {width:50%;float:right;height:70px;margin-right:2%;}
.views-exposed-widget #edit-field-name-value{width:50%;height:70px;float:right;margin-right:2%;}
.views-exposed-widget #edit-field-location-value{width:50%;height:70px;float:right;margin-right:2%;}


/*.views-exposed-widgets #edit-field-spacialist-in-tid {
width: 100%;
margin-top: 32%;
}

.views-exposed-widget #edit-field-name-value {
width: 100%;
margin-top: 32%;
}

.views-exposed-widget #edit-field-location-value {
width: 100%;
margin-top: 32%;
}*/

.views-exposed-widgets .clearfix {/*margin-left:20%;width:auto;*/ width:50%; margin-left:auto; margin-right:auto;}

.views-exposed-form .views-exposed-widget input.form-submit {
height: 100px;
background-image: url(../images/bg_button.jpg)!important;
font-size: 32px;
width:100%;
font-weight: bold;
border: 1px solid #c7c2c2;
color: #FFFFFF!important;
float: right;
margin-right:-100%;
background-size:200%;
/*margin-left:350px!important;
margin-top: 215px!important;*/
}

#block-views-adv-image-block{display:none!important;}



.front #node-6883{display:none;}

#block-views-speciality-block-1 h2 {font-size:50px!important;height:37px;color:#000000;margin-bottom:50px;}
#block-views-speciality-block-1 .view-speciality {display:block;border-bottom:1px solid #7D8791;overflow:hidden;padding-bottom:50px;background-color:#DFE4E7;}
#block-views-speciality-block-1 .view-speciality .views-field-name .field-content{float:left;width:auto;font-size:38px;border-right: 2px solid #7D8791;padding:7px 15px;height:40px;text-align:center;line-height:1.5;margin-top:10px;word-wrap:normal;display:block;}

#block-views-speciality-block-2 h2{font-size:50px!important;height:37px;color:#000000;margin-bottom:50px;}
#block-views-speciality-block-2 .view-speciality {display:block;border-bottom:1px solid #7D8791;overflow:hidden;padding-bottom:50px;background-color:#DFE4E7;}
#block-views-speciality-block-2 .view-speciality .views-field-name .field-content{float:left;width:auto;font-size:38px;border-right: 2px solid #7D8791;padding:7px 15px;height:40px;text-align:center;line-height:1.5;margin-top:10px;word-wrap:normal;}


#block-views-speciality-block h2 {font-size:50px!important;height:37px;color:#000000;margin-bottom:50px;}
#block-views-speciality-block .view-speciality {display:block;border-bottom:1px solid #7D8791;overflow:hidden;padding-bottom:50px;background-color:#DFE4E7;}
#block-views-speciality-block .view-speciality .views-field-name .field-content{float:left;width:auto;font-size:38px;border-right: 2px solid #7D8791;padding:7px 15px;height:40px;text-align:center;line-height:1.5;margin-top:10px;word-wrap:normal;}



/**********************************************************For Vertical Presentation*********************************************************************/
/*#block-views-speciality-block-2 .view-speciality .views-field-name .field-content{float:left;width:auto;font-size:30px;padding:5px;border-right:1px solid;}
#block-views-speciality-block .view-speciality .views-field-name .field-content{float:left;width:auto;font-size:30px;padding:5px;border-right:1px solid;}*/



/*#block-views-speciality-block-1 .view-speciality .views-field-name .field-content{font-size:30px!important;}

#block-views-speciality-block .view-speciality .views-field-name .field-content{font-size:30px!important;}

#block-views-speciality-block-2 .view-speciality .views-field-name .field-content{font-size:30px!important;}*/

/*#block-block-8 .footertext{float:left;border:1px solid red;width:100%;font-size:20px;}

*/

#footer {width:100%!important;}

#block-block-8 .social{float:right;margin-top:-4%;margin-right:2%;}
#block-block-8 .social li{float:left;padding:0px;}
#block-block-8 .social li img{width:40px;height:40px;}

.page-taxonomy #block-views-speciality-block-1{display:none!important;}
.page-research #block-views-speciality-block-1{display:none!important;}
.not-front #block-views-speciality-block-1{display:none!important;}

#node-6881 .field-items p{font-size:26px;text-align:justify;}

/****************************************Doctors Information Page -- Taxonomy View *************************************************************/
.one-sidebar #content {
width: 76%!important;
}


#main #content .section h1{font-size: 36px;
line-height: 46px;
color: #49c0f2;
padding: 8px 0px 35px 0px;
text-transform: uppercase;
font-weight: normal;
}

#block-system-main .view-taxonomy-term .view-content .views-row{width: 100%;
overflow: hidden;
border-bottom: 1px solid #dcdfdf;
padding: 15px 0 12px 0;
}

#block-system-main .content .view-taxonomy-term .view-content .views-field-title span a{
	text-decoration: none;
	font-weight: bold;
	font-size: 32px;
	color: #1291d3;
	display: inline-block;
	padding: 8px 0 0;
	text-transform:uppercase;

}


#block-system-main .content .view-taxonomy-term .view-content .views-field-field-logo-photo img{float:left;width:20%;margin-right:15px;padding-left:1px;}

#block-system-main .content .view-taxonomy-term .view-content .views-field.views-field-field-rate {display:inline-block;margin-top:-18px;float:right;}

#block-system-main .content .view-taxonomy-term .view-content .views-field-field-address{font-weight:bold;padding-top:10px;font-size:22px;}

#block-system-main .content .view-taxonomy-term .view-content .views-field-field-contact{padding-top:10px;font-size:28px;}

#block-system-main .content .view-taxonomy-term .view-content .views-label-field-contact{float: left;
background: url("../images/contact.gif") 1px 2px no-repeat;
padding: 0px 18px 0 64px;
background-size:30% 90%;
color: #f08b28;
font-size:28px!important;
display: inline-block;}

#block-system-main .content .view-taxonomy-term .view-content .views-field-field-spacialist-in{padding-top:7px;font-size:28px;}

/*#block-system-main .content .view-taxonomy-term .view-content .views-field-field-spacialist-in .field-content{display:inline-block;}*/

#block-system-main .content .view-taxonomy-term .view-content .views-label-field-spacialist-in{float: left;
background: url("../images/specialist.gif") 1px 2px no-repeat;
padding: 0 18px 0 64px;
background-size:30% 90%;
color: #76aa3e;
font-size:28px!important;
display: inline-block;
line-height: 26px;}



/****************************************Doctors Information Page -- Research View *************************************************************/

.view-research .view-content .views-field.views-field-title {margin-top: 10px;font-size:28px;line-height:34px;color:#000000;}
.view-research .view-content .views-field-field-location .field-content{display:inline-block;}
.view-research .view-content .views-field-field-location{margin-top:4px;font-size:26px;}

.view-research .view-content .views-row{width: 100%;
overflow: hidden;
border-bottom: 1px solid #dcdfdf;
padding: 10px 0 9px 0;
}
.view-research .view-content .views-field-nid{float:right;color:#000066;font-size:25px;}

.pager{font-size:26px;}


/****************************************Doctors Information Page -- Node View *************************************************************/

.node-doctors-information .field-name-field-logo-photo{width:40%;}
.node-doctors-information .field-name-field-address{font-size:32px;}
.node-doctors-information .field-name-field-rate .field-label{font-size:32px;}
.node-doctors-information .field-name-field-rate .field-items .fivestar-oxygen{height:50px;}
.node-doctors-information .field-name-field-contact{font-size:32px;}
.node-doctors-information .field-name-field-spacialist-in{font-size:32px;}

.node-doctors-information .field.field-name-field-site{font-size:32px;}





.views-exposed-form .views-widget input.form-autocomplete {background-size: 5% 50%!important;
background-position: 460px 30px!important;}







/****************************************Contact Page -- Module *************************************************************/
.contact-form{margin-left:10px;}

.form-item.form-type-textfield.form-item-name {font-size:32px;width:100%;}
.form-item.form-type-textfield.form-item-mail {font-size:32px;width:100%;}

.form-item.form-type-textfield.form-item-subject{font-size:32px;width:100%;}
.form-item.form-type-textarea.form-item-message{font-size:32px;width:100%;}

.contact-form .fieldset-description{display:none;}
.fieldset-description input img{width:100%;border:1px solid red;}

.form-item.form-type-textfield.form-item-captcha-response{font-size:32px;width:100%;}

#edit-captcha-response{font-size:32px;width:100%;}

.form-actions #edit-submit{height: 100px;
background-image: url(../images/bg_button.jpg)!important;
font-size: 26px;
width: 26%;
height:57px;
background-size:100%;
font-weight: bold;
border: 1px solid #c7c2c2;
color: #FFFFFF!important;}



.page-contact legend{display:none;}
.page-contact .mail {
background-image: url("../images/mail.jpg");
display: inline-block;
background-repeat:no-repeat;
background-size: 10% 65%;
padding-left: 7%;
padding-top: 0%;
font-size: 32px;
margin-top:3%;
/*width:30px;
background-size:100%;*/
}

.page-contact .india {
margin-top:25px;
background-image: url("../images/india.png");
text-decoration: underline;
background-repeat:no-repeat;
background-size:5%;
padding-left: 7%;
padding-top: 0%;
font-size: 26px;}

.page-contact .address {
margin-top:25px;
background-image: url("../images/home.jpg");
background-repeat:no-repeat;
background-size:5%;
padding-left: 7%;
padding-top: 0%;
font-size: 26px;}

.page-contact .contactno {
background-image: url("../images/phone.jpg");
background-repeat:no-repeat;
background-size:5%;
margin-top:25px;
padding-left: 7%;
padding-top: 0%;
font-size: 26px;}

.page-contact .get-direction {
background-image: url("../images/d1.jpeg");
background-position: 137px center;
background-repeat: no-repeat;
background-size: 20px auto;
float: left;
background-position: right;
padding: 2px 35px 5px 24px;
margin-top:20px;
}

.page-contact .get-direction a{
	color: #2695e8!important;
	font-size: 46px!important;
	padding-left: 5px!important;
}

/*--------------------------------- Rajesh -------------------------------------*/

#block-views-speciality-block-1 .view-speciality .view-header a{
    background-image: url(/themes/mobiledia/images/m_speciality.png) !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;	
    display:block;
    height:100px;
    margin-left: 0px;
    text-indent: -9999px;
    width: 100%;
}


#block-views-speciality-block-2 .view-speciality .view-header a{
	background-image: url(/themes/mobiledia/images/m_hospitals.png) !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100px;
	width: 100%;
	margin-left: 0px;
	display: block;
	text-indent: -9999px;
}

#block-views-speciality-block .view-speciality .view-header a{		
	background-image: url(/themes/mobiledia/images/m_pathology.png) !important;	
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height:100px;
	width: 100%;
	margin-left: 0px;
	display: block;
	text-indent: -9999px;
}


.views-exposed-widget #edit-field-name-value,
.views-exposed-widgets #edit-field-spacialist-in-tid,
.views-exposed-widget #edit-field-location-value{
	font-size:36px;
	margin-top:5px;
}

#block-system-main .content .view-taxonomy-term .view-content .views-field-field-contact{
	clear:both;
}
#block-system-main .content .view-taxonomy-term .view-content .views-label-field-spacialist-in{
	margin-top:7px;
	padding:3px 18px 0 24px;
}

#block-views-exp-research-page #edit-field-spacialist-in-tid,
#block-views-exp-research-page #edit-field-location-value,
#block-views-exp-research-page #edit-field-name-value{
	background-size:30px 100px !important;	
	margin-right:5px !important;
}


#block-system-main .content .view-taxonomy-term .view-content .views-label-field-contact{
	font-size:40px !important;
	padding-left:90px !important;
}	

#block-system-main .content .view-taxonomy-term .view-content .views-field-field-spacialist-in{
	margin-top:15px;
	clear:both;
}


#block-system-main .content .view-taxonomy-term .view-content .views-field-title span a{
	width:70%!important;
}

#block-system-main .content .view-taxonomy-term .view-content .views-label-field-spacialist-in{
	font-size:40px !important;	
	padding-left:90px !important;
}

.content .field-name-field-logo-photo img{
	height:220px;
	width:220px;
}

#footer .block .content p{
	font-size:14px;
}

.field.field-name-field-ad-text.field-type-text-long.field-label-above{
	font-size:30px;
}

#block-system-main .views-label-field-contact {
	font-size:32px !important;
}

.content .field-name-field-address .field-label{
	font-size:36px !important;
}

.content .field-name-field-contact .field-label{
	font-size:36px !important;
}

.content .field-name-field-rate .field-label{
	font-size:36px !important;
}

.content .field-name-field-site .field-item{
	margin-top:10px;
}
.content .field-name-field-site .field-label {
	font-size:38px !important;
}

.content .field-name-field-site .field-item {
	font-size:36px !important;
}

.fivestar-summary .average-rating{
	display:none !important;
}

.content .fivestar-summary-average-count {
	font-size:30px !important;
}

.content .field-name-field-rate .field-items{
	margin-top:25px !important;	
}

.field.field-name-field-ad-text.field-type-text-long.field-label-above .field-item table{
	width:100% !important;
	height:100%!important;
}

.field.field-name-field-ad-text.field-type-text-long.field-label-above .field-item table tbody tr td{
	border: 1px solid #FFFFFF !important;
    padding: 25px !important;
}

.field-name-field-ad-text{
	margin-top:10px;
}
.field-name-field-ad-text span{
	font-size:32px !important;
}

#main #content .section h1{
	color: #49C0F2;
    /*font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;*/
	font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
	margin-left:25px;
    font-weight: normal;
    line-height: 24px;
    padding: 4px 0 25px;
    text-transform: uppercase;
}
#block-system-main , #block-block-9{
	margin-left:15px;
	margin-right:35px;
}

.form-actions #edit-submit{
	width:50%;
}

.not-front #main #content .section{
	margin-left:15px;
	margin-right:50px;
}

#block-system-main{
	width:100%;
}

#contact-site-form{
	width:100%;
}

.page-contact .contact-form .form-type-textfield input{
	height:80px;	
	width:100%;
	border:1px solid #CCCCCC;
}	

#main #content .section h1{
	line-height:40px;
}

input, textarea{
	font-size:40px;
}

a[href^=tel]{
   color:inherit;
   text-decoration:none;
}
.content .views-field-field-contact .field-content{
	color:#072469;
}

.content .field-name-field-e-mail{
	font-size:36px;
}
.item-list ul li{
	font-size:28px;
}


#contact-site-form .form-type-textfield, #contact-site-form .form-text,
.contact-form .form-textarea-wrapper #edit-message{
	width:100%;
}
