.panels-flexible-region {
  padding: 0;
}

.panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-column {
  padding: 0;
}

.panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-2-main {
  float: left;
  width: 66.0257%;
}

.panels-flexible-column-2-1 {
  float: left;
  width: 32.9743%;
}

.panels-flexible-2-inside {
  padding-right: 0px;
}

.panels-flexible-2 {
  width: auto;
}

.panels-flexible-region-2-fl {
  float: left;
  width: 49.5000%;
}

.panels-flexible-region-2-front_left_side {
  float: left;
  width: 49.5000%;
}

.panels-flexible-row-2-main-row-inside {
  padding-right: 0px;
}

.panels-flexible-region-2-front_bottom_content {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-2-3-inside {
  padding-right: 0px;
}

.panels-flexible-region-2-third_first {
  float: left;
  width: 33.0122%;
}

.panels-flexible-region-2-third_row_ {
  float: left;
  width: 32.9894%;
}

.panels-flexible-region-2-third_third {
  float: left;
  width: 32.9984%;
}

.panels-flexible-row-2-5-inside {
  padding-right: 0px;
}

.panels-flexible-region-2-right_side_region {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-2-4-inside {
  padding-right: 0px;
}

