
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #3b3b3b;
}
.comment .comment-arrow {
  border-color: #dfe2e1;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #dfe2e1;
}
.tabs ul.primary li a.active {
  background-color: #dfe2e1;
}
.tabs ul.primary li.active a {
  background-color: #dfe2e1;
  border-bottom: 1px solid #dfe2e1;
}
#header {
background-image: url(/themes/bartik/images/headerbg.jpg)!important;
}

a {
  color: #072469;
}
a:hover,
a:focus {
  color: #103a9c;
}
a:active {
  color: #2258d3;
}
.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}
#page-wrapper,
#footer-wrapper {
  background: #292929;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #0a0808;
}
